.breadcrumb-item {
    // font-weight: 600;
    color: var(--mat-text-color);
  }
  .spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it appears above everything */
}

.spinner-container {
    text-align: center;
    color: white;
}
.text-muted {
  color: var(--mat-text-color) !important;
}
.center-header {
  text-align: center;
}

.match-buttons {
  display: flex;
  justify-content: center;
  gap: 8px; /* space between buttons */
}
.black-button {
  color: rgb(43, 42, 42) !important;
}
@media (max-width: 768px) {
  .row > div {
    margin-bottom: 12px; /* vertical gap between form fields */
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  // gap: 1rem;
}