:host {
  display: block;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;

  &.dark-theme {
    background-color: inherit;
    color:  inherit;

    .sidenav {
      background:  inherit;
      color:  inherit;

      .logo-container {
        border-bottom: 1px solid inherit;
      }

      mat-list-item {
        color:  inherit; // Force white text in dark mode

        span {
          color: inherit inherit; // Ensure the span inherits the color
        }

        &.active {
          background-color:  inherit;
        }

        &:hover:not(.active) {
          background-color:  inherit;
        }
      }
    }

    .content {
      background-color:  inherit;
      color: inherit;

      h3, h4, h5, p, li {
        color:  inherit;
      }

      .tab-content {
        ul li {
          color:  inherit;
        }
      }
    }
  }

  &.light-theme {
    background-color: inherit;
    color: inherit;

    .sidenav {
      background: inherit;
      color: inherit;

      mat-list-item {
        color: inherit !important; // Force black text in light mode

        span {
          color: inherit !important;
        }

        .logo-container {
          border-bottom: 1px solid #ddd;
        }

        &.active {
          background-color: #ffffff;
        }

        &:hover:not(.active) {
          background-color: #eeeeee;
        }
      }
    }

    .content {
      background-color: #ffffff;
      color: #000000;
    }
  }
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.sidenav {
  width: 260px;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;

    img {
      max-width: 160px;
      height: auto;
    }
  }

  mat-list-item {
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  padding: 30px;
  margin: 0;
  transition: background-color 0.3s ease;

  .tab-content {
    margin-top: 35px;
    flex-grow: 1;

    h4, h5 {
      color: inherit;
    }

    ul {
      padding-left: 20px;

      li {
        margin-bottom: 8px;
      }
    }
  }
}

.footer {
  margin-top: auto;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 50px;
}