.containerx {
    background: linear-gradient(90deg, rgba(245,130,0,1) 0%, rgb(250, 168, 75) 48%, rgba(223,137,14,1) 100%);
  }
  
  .text-white p {
    font-size: 14px; /* Reduced font size */
  }
  
  .form-control {
    font-size: 13px; /* Reduced input font size */
  }
  
  
  
  .search-btn{
    background-color:  #f58200 !important;
    border: 1px solid #f58200 !important;
    color: white !important;
  }
    
  
  .object-fit-cover {
    object-fit: cover; /* Ensures the image covers the entire container */
    width: 100%;
    height: 100%;
  }
  
  .border-right{
    padding: 10px;
    border: 05px solid #f58200;
  }
  
  
    /* Modal Animation */
    .modal.fade .modal-dialog {
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
    .modal.show .modal-dialog {
      transform: translate(0, 0);
      opacity: 1;
    }
    
    /* Section Headings */
    .text-primary {
      font-size: 14px !important;
      font-weight: bold !important;
      color: #f58200  !important;
    }
    
    /* Spacing & Alignment */
    .modal-body .row {
      margin-bottom: 1rem;
    }
  
    .row{
      font-size: 13px !important;
      font-style: none !important;
    }
    
    /* Responsive Image */
    .img-fluid.rounded-circle {
      max-width: 150px;
      margin: 0 auto;
      display: block;
      transition: transform 0.3s ease-in-out;
      /* max-width: 400px; */
    }
    
    .img-fluid.rounded-circle:hover {
      transform: scale(1.1);
    }
    
    /* Styling for Information Rows */
    .modal-body .row {
      display: flex;
      align-items: center;
    }
    
    .modal-body .row .col-md-3 {
      font-weight: 600;
    }
    
    .modal-body .row .col-md-9 {
      font-style: italic;
      color: #555;
    }
  
  
    #map{
      height: 300px;
       width: 100%;
    }
    
  
  
    
    .navbar .form-control {
      width: 150px;
    }
    
    .btn-outline-success {
      margin-top: 5px;
    }
    