.pagination {
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-item.disabled .page-link {
    pointer-events: none;
    cursor: default;
    color: #ccc;
    background-color: #fff;
    border-color: #ddd;
    border-radius: 2px solid black;
  }
  
  .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    text-decoration: none;
  }
  
  .page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  