<!-- heading  -->

<mat-card class="cardWithShadownone mt-3">
  <div class=" toolbar-row p-2">
    <div class="toolbar-content">
      <div class="left-content main-headingg">
        <span class="title">AI-Powered Matching System</span>
      </div>

      <div class="right-buttons">
        <!-- <button mat-stroked-button class="custom-button" (click)="onMatchWithUP(uuid)">
          Rematch
        </button> -->

        <button mat-flat-button class="custom-button" (click)="goBack()">
          Back
        </button>
      </div>
    </div>

  </div>
</mat-card>


<mat-card class="cardWithShadow w-100 mb-3">
  <mat-card-content>
    <div class="d-flex flex-column flex-md-row align-items-start gap-4 w-100">
      <!-- Photo on Left -->
      <div class="missing-person-photo flex-shrink-0 text-center">
        <img
          [src]="matchData.missing_person?.photo_photo ? environment + matchData.missing_person.photo_photo : '/assets/main-logos/TraceMapr_icon.png'"
          alt="Missing Person" class="person-img img-thumbnail" style="width: 300px; height: 200px;" />
      </div>

      <!-- Person Details on Right -->
      <div class="flex-grow-1 w-100">
        <!-- Title -->
        <h5 class="mb-4">Missing Person Details</h5>

        <!-- Details Grid -->
        <div class="row g-3">
          <!-- Row 1 -->
          <div class="col-md-4">
            <p class="mb-1"><strong>Full Name:</strong> {{ matchData.missing_person.full_name | titlecase }}</p>
          </div>
          <div class="col-md-4">
            <p class="mb-1"><strong>Gender:</strong> {{ matchData.missing_person.gender | titlecase }}</p>
          </div>

          <!-- Row 2 -->
          <div class="col-md-4">
            <p class="mb-1"><strong>Birth Date:</strong> {{ matchData.missing_person.birth_date | date }}</p>
          </div>

          <div class="col-md-4">
            <p class="mb-1"><strong>Age:</strong> {{ matchData.missing_person.age }}</p>
          </div>
          <!-- Row 3 -->
          <div class="col-md-4">
            <p class="mb-1"><strong>City:</strong> {{ matchData.missing_person.city | titlecase }}
            </p>
          </div>
          <div class="col-md-4">
            <p class="mb-1"><strong>State:</strong>
              {{ matchData.missing_person.state | titlecase }}</p>
          </div>


          <!-- Row 4 -->
          <div class="col-4">
            <p class="mb-1"><strong>Missing Location:</strong>
              {{ matchData.missing_person.last_known_details?.[0]?.last_seen_location | titlecase }}</p>
          </div>
          <div class="col-md-4">
            <p class="mb-1"><strong>Missing Date:</strong>
              {{ matchData.missing_person.last_known_details?.[0]?.missing_date | date }}</p>
          </div>
          <!-- Row 5 -->
          <div class="col-md-4">
            <p class="mb-1"><strong>FIR No:</strong> {{ matchData.missing_person.firs?.[0]?.fir_number }}</p>
          </div>
          <div class="col-md-4">
            <p class="mb-1"><strong>Officier Name:</strong>
              {{ matchData.missing_person.firs?.[0]?.investigation_officer_name | titlecase }}</p>
          </div>
          <div class="col-md-4">
            <p class="mb-1"><strong>Police Station:</strong>
              {{ matchData.missing_person.firs?.[0]?.police_station | titlecase }}</p>
          </div>

        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>



<mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon class="d-flex align-items-center">
          <i-tabler name="user-search" class="icon-20 m-r-8 d-flex"></i-tabler>
        </mat-icon>
        Newly Matched
      </div>
    </ng-template>
    <table *ngIf="matchData?.newly_matched?.length > 0; else newlyMatchedNoData" mat-table
      [dataSource]="dataSourceMatches" class="mat-elevation-z2 w-100">

      <!-- Score Column -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Match %</th>
        <td mat-cell *matCellDef="let match">
          {{ match.score || 0 }}%
        </td>
      </ng-container>

      <!-- Name -->
      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef>Full Name</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.full_name || 'Name not available' }}
        </td>
      </ng-container>

      <!-- Age -->
      <ng-container matColumnDef="age_range">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.age_range || 'Unknown' }}
        </td>
      </ng-container>

      <!-- Gender -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.gender || 'Unknown' | titlecase }}
        </td>
      </ng-container>

      <!-- Found Date -->
      <ng-container matColumnDef="reported_date">
        <th mat-header-cell *matHeaderCellDef>Found Date</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.reported_date | date }}
        </td>
      </ng-container>

      <!-- Location -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.city || 'Unknown' }}, {{ match.person?.state || '' | titlecase }}
        </td>
      </ng-container>
      <!-- Actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let match" class="buttons">
          <button mat-icon-button color="primary" (click)="viewDetails(match)">
            <i-tabler name="eye" class="icon-22" style="cursor: pointer"></i-tabler>
          </button>
          <button mat-icon-button color="accent" (click)="confirmMatch(match)">
            <i-tabler name="check" class="icon-22" style="cursor: pointer"></i-tabler>
            <!-- <mat-icon>check_circle</mat-icon> Confirm -->
          </button>
          <button mat-icon-button (click)="onRejectMatch(match.match_id)" matTooltip="Reject Match">
            <i-tabler name="x" class="icon-22" style="cursor: pointer"></i-tabler>
          </button>
          <!-- <a matTooltip="View Details" (click)="viewDetails(match)">
                    <i-tabler name="eye" class="icon-22 " style="cursor: pointer;"></i-tabler>
            </a> -->

        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumnsMatches"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsMatches;"></tr>
    </table>


    <ng-template #newlyMatchedNoData class="h-25">
      <p class="no-data-message card-height">No matches available.</p>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon class="d-flex align-items-center">
          <i-tabler name="history" class="icon-20 m-r-8 d-flex"></i-tabler>
        </mat-icon>
        Previously Matched
      </div>
    </ng-template>
    <table *ngIf="matchData.previously_matched?.length > 0; else previouslyMatchedNoData" mat-table
      [dataSource]="matchData.previously_matched" class="w-100">

      <!-- Match Score -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let match">
          {{ match.score || 0 }}%
        </td>
      </ng-container>

      <!-- Name -->
      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.full_name || 'Name not available' }}
        </td>
      </ng-container>

      <!-- Age -->
      <ng-container matColumnDef="age_range">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.age_range || 'Unknown' }}
        </td>
      </ng-container>

      <!-- Gender -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.gender || 'Unknown' | titlecase }}
        </td>
      </ng-container>

      <!-- Found Date -->
      <ng-container matColumnDef="reported_date">
        <th mat-header-cell *matHeaderCellDef>Found Date</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.reported_date | date }}
        </td>
      </ng-container>

      <!-- Location -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.city || 'Unknown' }}, {{ match.person?.state || '' | titlecase }}
        </td>
      </ng-container>

      <!-- Action Buttons -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let match">
          <button mat-icon-button color="primary" (click)="viewDetails(match)" matTooltip="View Details">
            <i-tabler name="eye" class="icon-22" style="cursor: pointer"></i-tabler>
          </button>

          <button mat-icon-button color="primary" (click)="confirmMatch(match.match_id)" matTooltip="Confirm Match">
            <i-tabler name="check" class="icon-22" style="cursor: pointer"></i-tabler>
          </button>

          <button mat-icon-button color="warn" (click)="onRejectMatch(match.match_id)" matTooltip="Reject Match">
            <i-tabler name="x" class="icon-22" style="cursor: pointer"></i-tabler>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="previousDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: previousDisplayedColumns"></tr>
    </table>


    <ng-template #previouslyMatchedNoData>
      <p class="no-data-message card-height">No matches available.</p>
    </ng-template>
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon class="d-flex align-items-center">
          <i-tabler name="user-x" class="icon-20 m-r-8 d-flex"></i-tabler>
        </mat-icon>
        Rejected
      </div>
    </ng-template>
    <table *ngIf="matchData.rejected?.length > 0; else noData" mat-table [dataSource]="matchData.rejected"
      class="w-100">

      <!-- Match Score -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let match">
          {{ match.score || 0 }}%
        </td>
      </ng-container>

      <!-- Name -->
      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.full_name || 'Name not available' }}
        </td>
      </ng-container>

      <!-- Age -->
      <ng-container matColumnDef="age_range">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.age_range || 'Unknown' }}
        </td>
      </ng-container>

      <!-- Gender -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.gender || 'Unknown' | titlecase }}
        </td>
      </ng-container>

      <!-- Found Date -->
      <ng-container matColumnDef="reported_date">
        <th mat-header-cell *matHeaderCellDef>Found Date</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.reported_date | date }}
        </td>
      </ng-container>

      <!-- Location -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.city || 'Unknown' }}, {{ match.person?.state || '' | titlecase }}
        </td>
      </ng-container>

      <!-- Reject Reason -->
      <ng-container matColumnDef="reject_reason">
        <th mat-header-cell *matHeaderCellDef>Reject Reason</th>
        <td mat-cell *matCellDef="let match">
          {{ match.reject_reason || 'No reason provided' }}
        </td>
      </ng-container>

      <!-- Action Buttons -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let match">
          <button mat-icon-button color="primary" (click)="viewDetails(match)" matTooltip="View Details">
            <i-tabler name="eye" class="icon-22" style="cursor: pointer"></i-tabler>
          </button>

          <button mat-icon-button color="primary" (click)="onUnrejectMatch(match.match_id)"
            matTooltip="Un-Reject Match">
            <i-tabler name="check" class="icon-22" style="cursor: pointer"></i-tabler>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="rejectedDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: rejectedDisplayedColumns"></tr>
    </table>

    <ng-template #noData>
      <p class="no-data-message card-height">No matches available.</p>
    </ng-template>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <div class="d-flex align-items-center">
        <mat-icon class="d-flex align-items-center">
          <i-tabler name="shield-check" class="icon-20 m-r-8 d-flex"></i-tabler>
        </mat-icon>
        Confirmed
      </div>
    </ng-template>
    <table *ngIf="matchData.confirmed?.length > 0; else confirmedMatchedNoData" mat-table
      [dataSource]="matchData.confirmed" class="w-100 ">

      <!-- Match Score -->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let match">
          {{ match.score || 0 }}%
        </td>
      </ng-container>

      <!-- Name -->
      <ng-container matColumnDef="full_name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.full_name || 'Name not available' }}
        </td>
      </ng-container>

      <!-- Age -->
      <ng-container matColumnDef="age_range">
        <th mat-header-cell *matHeaderCellDef>Age</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.age_range || 'Unknown' }}
        </td>
      </ng-container>

      <!-- Gender -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.gender || 'Unknown' | titlecase }}
        </td>
      </ng-container>

      <!-- Found Date -->
      <ng-container matColumnDef="reported_date">
        <th mat-header-cell *matHeaderCellDef>Found Date</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.reported_date | date }}
        </td>
      </ng-container>

      <!-- Location -->
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef>Location</th>
        <td mat-cell *matCellDef="let match">
          {{ match.person?.city || 'Unknown' }}, {{ match.person?.state || '' | titlecase }}
        </td>
      </ng-container>

      <!-- Confirmation Date -->
      <ng-container matColumnDef="confirmed_date">
        <th mat-header-cell *matHeaderCellDef>Confirmed Date</th>
        <td mat-cell *matCellDef="let match">
          {{ match.created_at | date }}
        </td>
      </ng-container>

      <!-- Action Buttons -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let match">
          <button mat-icon-button color="primary" (click)="viewDetails(match)" matTooltip="View Details">
            <i-tabler name="eye" class="icon-22" style="cursor: pointer"></i-tabler>
          </button>

          <button mat-icon-button color="warn" (click)="onUnconfirmMatch(match)" matTooltip="Unconfirm Match">
            <i-tabler name="x" class="icon-22" style="cursor: pointer"></i-tabler>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="confirmedDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: confirmedDisplayedColumns"></tr>
    </table>

    <ng-template #confirmedMatchedNoData class="card-height">
      <p class="no-data-message card-height">No matches available.</p>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<ng-template #noData>
  <p class="no-data-message card-height">No matches available.</p>
</ng-template>