/* Adjust the size of the mat-menu-item button */
.custom-btn-size {
    font-size: 12px; /* Smaller font size */
    padding: 6px 12px; /* Reduce padding for a smaller button */
    height: auto; /* Adjust height if necessary */
  }
  
  .topbar {
    border-bottom: 1px solid #ccc; /* or use your desired color */
  }
  
  .version-text {
    font-size: 15px;
    font-weight: 500;
  }
  
  .light-text .version-text {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .dark-text .version-text {
    color: rgba(255, 255, 255, 0.7);
  }
  
  