/* Adjust the size of the mat-menu-item button */
.custom-btn-size {
    font-size: 12px; /* Smaller font size */
    padding: 6px 12px; /* Reduce padding for a smaller button */
    height: auto; /* Adjust height if necessary */
  }
  
  .topbar {
    border-bottom: 1px solid #ccc; /* or use your desired color */
  }
  
  