.text-muted {
    color: var(--mat-text-color) !important;
  }


.page-container {
  padding: 16px;
}

.add-icon{
  margin-right: 15px;
}

.header-container {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-btn {
  margin-left: 8px;
}


.page-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.action-btn {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -1px;
}

.backgroud{
  background: #FCFCFC;

}

/* For the filters container */
@media (max-width: 576px) {
  .filters-row {
    flex-direction: column !important;
    gap: 0.2rem !important;
  }

  .filters-row > mat-form-field {
    width:100% !important;
    min-width: auto !important;
  }

  /* Buttons row */
  .buttons-row {
    flex-direction: column !important;
    gap: 1rem !important;
  }

  .buttons-row > button {
    width: 100% !important;
  }
}