.text-muted {
    color: var(--mat-text-color) !important;
  }


.page-container {
  padding: 16px;
}

.add-icon{
  margin-right: 15px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 8px;
}

.page-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.action-btn {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -1px;
}

.backgroud{
  background: #FCFCFC;

}

.field-color{
  background-color: rgb(255, 255, 255) !important;
}