.text-muted {
    color: var(--mat-text-color) !important;
  }



  .filter-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); // force 5 columns for 4 fields + button
    gap: 1rem;
    align-items: end;
  }
  
  @media (max-width: 767px) {
    .filter-grid {
      grid-template-columns: 1fr; // mobile: stack vertically
    }
  }
  
  
  .search-button {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-right: 45px;
  }
  
.sub-heading{
  line-height: 50px;
  font-weight: 500;
}