mat-card.cardWithShadow {
  border: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}


.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Dark transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it appears above everything */
}
.footer{
   min-height: 82vh;
}
.spinner-container {
    text-align: center;
    color: white;
}
.text-muted {
  color: var(--mat-text-color) !important;
}
.breadcrumb-item {
    font-weight: 600;
    font-size: 18px;
    color: var(--mat-text-color);
  }
  @media (max-width: 768px) {
  .row > div {
    margin-bottom: 12px; /* vertical gap between form fields */
  }
}


.row {
  display: flex;
  flex-wrap: wrap;
  /* // gap: 1rem; */
}


.mat-mdc-unelevated-button:not(:disabled){
  width: 100px;
}
