.containerx {
    background-color: #0A2A66;
  }
  
  .search-box {
    max-width: 600px;
    margin: auto;
  }
  






  /* Modal Animation */
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
  .modal.show .modal-dialog {
    transform: translate(0, 0);
    opacity: 1;
  }
  
  /* Section Headings */
  h5.text-primary {
    font-size: 1.25rem;
    font-weight: bold;
    color: #007bff;
  }
  
  /* Spacing & Alignment */
  .modal-body .row {
    margin-bottom: 1rem;
  }
  
  /* Responsive Image */
  .img-fluid.rounded-circle {
    max-width: 150px;
    margin: 0 auto;
    display: block;
    transition: transform 0.3s ease-in-out;
    /* max-width: 400px; */
  }
  
  .img-fluid.rounded-circle:hover {
    transform: scale(1.1);
  }
  
  /* Styling for Information Rows */
  .modal-body .row {
    display: flex;
    align-items: center;
  }
  
  .modal-body .row .col-md-3 {
    font-weight: 600;
  }
  
  .modal-body .row .col-md-9 {
    font-style: italic;
    color: #555;
  }


  #map{
    height: 300px;
     width: 100%;
  }
  


  
  .navbar .form-control {
    width: 150px;
  }
  
  .btn-outline-success {
    margin-top: 5px;
  }
  