mat-card.cardWithShadow {
  border: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}


.s1 {
  padding-left: 8px;
}

.btn-height {
  margin-bottom: 20px;
  margin-left: 450px;
}

.case-detail-label {
  font-size: 16px;
  font-weight: bold;
text-transform: capitalize;
}

.case-detail-value {
  font-size: 16px;
  padding-bottom: 10px;
}

.case-detail-title {
  font-size: 16px;
  font-weight: bold;
}

.case-detail-main-title {
  font-size: 18px;
  font-weight: bold;
}