mat-card.cardWithShadow {
  border: none !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
}



.filter-container {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  width: 100%;
}

.filter-row {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.filter-row mat-form-field {
  flex: 1;
  min-width: 120px;
}

.search-btn {
  min-width: 100px;
  /* height: 35px;  */
  margin-top: -19px;
  margin-left: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .filter-row {
    flex-wrap: wrap;
  }
  
  .filter-row mat-form-field, .search-btn {
    min-width: calc(50% - 6px);
  }
  
  .search-btn {
    margin-left: 0;
    width: 100%;
    margin-bottom: 10px;
    
  }
}

/* Remove Bootstrap's default active tab styling */
.nav-tabs .nav-link {
  background-color: transparent;
  border: none;
  color: inherit;
  font-weight: bold;
}

/* Active tab styling */
.nav-tabs .nav-link.active {
  background-color: inherit;
  color: inherit;
  position: relative;
  border: none;
  font-weight: bold;
}

/* Bottom border (underline) in orange for active tab */
.nav-tabs .nav-link.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: orange; 
}


/* More compact solution */
mat-card-header.d-flex {
  padding-bottom: 0;
  margin-bottom: -8px; /* Pulls the tabs closer */
}

.nav-tabs {
  margin-top: -10px; /* Makes tabs touch the header */
}