.filter-container {
  display: flex;
  flex-direction: column;
  /* gap: 16px; */
  width: 100%;
}

.filter-row {
  display: flex;
  gap: 12px;
  align-items: center;
  width: 100%;
}

.filter-row mat-form-field {
  flex: 1;
  min-width: 120px;
}

.search-btn {
  min-width: 100px;
  height: 35px; 
  margin-top: -20px;
  margin-left: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .filter-row {
    flex-wrap: wrap;
  }
  
  .filter-row mat-form-field, .search-btn {
    min-width: calc(50% - 6px);
  }
  
  .search-btn {
    margin-left: 0;
    width: 100%;
    
  }
}
/* Container to control hover behavior */
.image-container {
  display: inline-block; 
  overflow: visible !important; /* Allows image to expand outside container */
}

/* Default small rounded image */
.hover-zoom {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%; /* Fully rounded (adjust if needed) */
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Bigger size on hover */
.hover-zoom:hover {
  transform: scale(2.0); /* Adjust scale factor as needed */
  z-index: 0; /* Ensures it appears above other elements */
  position: relative; /* Needed for proper layering */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Optional: adds depth */
}


