<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="containerx h-100">
      <!-- Filters Section -->
      <div class="filter-container">
  <!-- First Row -->
  <div class="filter-row">
    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="selectedState" placeholder="Maharashtra" (selectionChange)="onStateChange($event.value)">
        <mat-option value="">All States</mat-option>
        <mat-option *ngFor="let state of allstates" [value]="state">{{ state }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="selectedDistrict" placeholder="District" (selectionChange)="onDistrictChange($event.value)">
        <mat-option value="">All Districts</mat-option>
        <mat-option *ngFor="let district of alldistricts" [value]="district">{{ district }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="selectedCity" placeholder="City" (selectionChange)="onCityChange($event.value)">
        <mat-option value="">All Cities</mat-option>
        <mat-option *ngFor="let city of allcities" [value]="city">{{ city }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="selectedVillage" placeholder="Village">
        <mat-option value="">All Villages</mat-option>
        <mat-option *ngFor="let village of allVillages" [value]="village">{{ village }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="selectedcase" placeholder="Case Status">
        <mat-option value="">All Cases</mat-option>
        <mat-option value="resolved">Resolved</mat-option>
        <mat-option value="pending">Pending</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-flat-button color="primary" class="search-btn" (click)="filterDataByFilters()">
      Search
    </button>
  </div>

  <!-- Second Row -->
  <div class="filter-row">
    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="selectedgender" placeholder="Gender">
        <mat-option value="">All Genders</mat-option>
        <mat-option value="male">Male</mat-option>
        <mat-option value="female">Female</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="selectedHeightRange" placeholder="Height">
        <mat-option value="">All Heights</mat-option>
        <mat-option value="133-150">133-150 cm</mat-option>
        <mat-option value="151-180">151-180 cm</mat-option>
        <mat-option value="Above 180">Above 180 cm</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-select [(ngModel)]="selectedAgeRange" placeholder="Age">
        <mat-option value="">All Ages</mat-option>
        <mat-option value="0-18">0-18</mat-option>
        <mat-option value="18-30">18-30</mat-option>
        <mat-option value="30-50">30-50</mat-option>
        <mat-option value="50-70">50-70</mat-option>
        <mat-option value="Above 70">Above 70</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="selectedStartDate" [matDatepicker]="startPicker" placeholder="5/13/2025">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="selectedEndDate" [matDatepicker]="endPicker" placeholder="5/14/2025">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

      <!-- Map Section -->
      <div class="row">
        <div class="col">
          <div class="p-1 ">
            <div
              id="map"
              style="
                height: 400px;
                border: 1px solid #000000;
                border-radius: 5px;
                z-index: 0;
              "
            ></div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>

<!-- filtered data as per tab -->
<mat-card class="cardWithShadow">
  <mat-card-header class="d-flex">
    <div class="m-r-auto">
      <mat-card-title>Filtered Persons</mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content>
    <!-- Tab navigation -->
    <mat-tab-group>
      <!-- Missing Persons Tab -->
      <mat-tab label="Missing Persons">
        <div class="table-responsive mt-1">
          <table mat-table [dataSource]="filteredMissingPersonssss" class="w-100">
            <!-- Sr No. Column -->
            <ng-container matColumnDef="srNo">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Sr No.</th>
              <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
            </ng-container>

            <!-- Photo Column -->
            <ng-container matColumnDef="photo">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Photo</th>
              <td mat-cell *matCellDef="let element">
                <img [src]="getImageUrl(element.properties.photo_photo)" 
                     alt="Person Photo" 
                     class="rounded" 
                     width="40" 
                     height="40"
                     style="object-fit: cover;">
              </td>
            </ng-container>

            <!-- Full Name Column -->
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Full Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.properties.full_name || 'Unknown' }}
              </td>
            </ng-container>

            <!-- Age Column -->
            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Age</th>
              <td mat-cell *matCellDef="let element">
                {{ element.properties.age || 'Not specified' }}
              </td>
            </ng-container>

            <!-- Gender Column -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Gender</th>
              <td mat-cell *matCellDef="let element">
                <img *ngIf="element.properties.gender === 'male'" src="assets/old/images/male.png" alt="Male" width="40" height="40">
                <img *ngIf="element.properties.gender === 'female'" src="assets/old/images/female.png" alt="Female" width="40" height="40">
                <img *ngIf="element.properties.gender !== 'male' && element.properties.gender !== 'female'" src="assets/old/images/other.png" alt="Other" width="24" height="24">
              </td>
            </ng-container>

            <!-- City Column -->
            <ng-container matColumnDef="city">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">City</th>
              <td mat-cell *matCellDef="let element">
                {{ element.properties.city || 'Not specified' }}
              </td>
            </ng-container>

            <!-- District Column -->
            <ng-container matColumnDef="district">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">District</th>
              <td mat-cell *matCellDef="let element">
                {{ element.properties.district || 'Not specified' }}
              </td>
            </ng-container>

            <!-- State Column -->
            <ng-container matColumnDef="state">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">State</th>
              <td mat-cell *matCellDef="let element">
                {{ element.properties.state || 'Not specified' }}
              </td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Action</th>
              <td mat-cell *matCellDef="let element">
               <button mat-icon-button matTooltip="View Details" color="primary" (click)="viewDetails(element)">
                <mat-icon class="f-s-00">visibility</mat-icon>
              </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-tab>

      <!-- Unidentified Persons Tab -->
      <mat-tab label="Unidentified Persons">
        <div class="table-responsive mt-1">
          <table mat-table [dataSource]="filteredUnidentifiedPersonssss" class="w-100">
            <!-- Same column definitions as above -->
            <ng-container *ngFor="let column of displayedColumns">
              <ng-container [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
                  {{ column | titlecase }}
                </th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <ng-container [ngSwitch]="column">
                    <span *ngSwitchCase="'srNo'">{{ i + 1 }}</span>
                    <span *ngSwitchCase="'photo'">
                      <img [src]="getImageUrl(element.properties.photo_photo)" 
                           alt="Person Photo" 
                           class="rounded" 
                           width="40" 
                           height="40"
                           style="object-fit: cover;">
                    </span>
                    <span *ngSwitchCase="'fullName'">{{ element.properties.full_name || 'Unknown' }}</span>
                    <span *ngSwitchCase="'age'">{{ element.properties.age_range || 'Not specified' }}</span>
                    <span *ngSwitchCase="'gender'">
                      <img *ngIf="element.properties.gender === 'male'" src="assets/old/images/male.png" alt="Male" width="40" height="40">
                      <img *ngIf="element.properties.gender === 'female'" src="assets/old/images/female.png" alt="Female" width="40" height="40">
                      <img *ngIf="element.properties.gender !== 'male' && element.properties.gender !== 'female'" src="assets/old/images/other.png" alt="Other" width="24" height="24">
                    </span>
                    <span *ngSwitchCase="'city'">{{ element.properties.city || 'Not specified' }}</span>
                    <span *ngSwitchCase="'district'">{{ element.properties.district || 'Not specified' }}</span>
                    <span *ngSwitchCase="'state'">{{ element.properties.state || 'Not specified' }}</span>
                    <span *ngSwitchCase="'action'">
                      <button mat-icon-button matTooltip="View Details" color="primary" (click)="viewDetails(element)">
                <mat-icon class="f-s-00">visibility</mat-icon>
              </button>
                    </span>
                  </ng-container>
                </td>
              </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-tab>

      <!-- Unidentified Bodies Tab -->
      <mat-tab label="Unidentified Bodies">
        <div class="table-responsive mt-1">
          <table mat-table [dataSource]="filteredunidentifiedboidessss" class="w-100">
            <!-- Same column definitions as above -->
            <ng-container *ngFor="let column of displayedColumns">
              <ng-container [matColumnDef]="column">
                <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">
                  {{ column | titlecase }}
                </th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <ng-container [ngSwitch]="column">
                    <span *ngSwitchCase="'srNo'">{{ i + 1 }}</span>
                    <span *ngSwitchCase="'photo'">
                      <img [src]="getImageUrl(element.properties.photo_photo)" 
                           alt="Person Photo" 
                           class="rounded" 
                           width="40" 
                           height="40"
                           style="object-fit: cover;">
                    </span>
                    <span *ngSwitchCase="'fullName'">{{ element.properties.full_name || 'Unknown' }}</span>
                    <span *ngSwitchCase="'age'">{{ element.properties.age_range || 'Not specified' }}</span>
                    <span *ngSwitchCase="'gender'">
                      <img *ngIf="element.properties.gender === 'male'" src="assets/old/images/male.png" alt="Male" width="40" height="40">
                      <img *ngIf="element.properties.gender === 'female'" src="assets/old/images/female.png" alt="Female" width="40" height="40">
                      <img *ngIf="element.properties.gender !== 'male' && element.properties.gender !== 'female'" src="assets/old/images/other.png" alt="Other" width="24" height="24">
                    </span>
                    <span *ngSwitchCase="'city'">{{ element.properties.city || 'Not specified' }}</span>
                    <span *ngSwitchCase="'district'">{{ element.properties.district || 'Not specified' }}</span>
                    <span *ngSwitchCase="'state'">{{ element.properties.state || 'Not specified' }}</span>
                    <span *ngSwitchCase="'action'">
                    <button mat-icon-button matTooltip="View Details" color="primary" (click)="viewDetails(element)">
                <mat-icon class="f-s-00">visibility</mat-icon>
              </button>
                  </span>
                  </ng-container>
                </td>
              </ng-container>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>



  