@use "sass:map";
@use "@angular/material" as mat;

@use "themecolors/blue_theme";
@use "themecolors/orange_theme";
@use "themecolors/aqua_theme";
@use "themecolors/cyan_theme";
@use "themecolors/green_theme";
@use "themecolors/purple_theme";

@use "variables" as *;
@use "override-component";
@use "theme-variables/default-variables";
@use "theme-variables/light-theme-variables";
@use "theme-variables/dark-theme-variables";

//container layout
@use "layouts/transitions";
@use "helpers/color";
@use "helpers/border-color";
@use "helpers/icon-size";
@use "container";
@use "layouts/layouts";
@use "grid/grid";
@use "helpers/custom-flex";
@use "helpers";

// horizontal
@use "horizontal/horizontal";
@use "dark/dark";

// apps
@use "apps/calendar";
@use "apps/email";
@use "apps/blogs";
@use "apps/chat";
@use "apps/contact-list";
@use "apps/kanban";
@use "apps/courses";
@use "apps/todo";

@use "pages/auth";
@use "pages/dashboards";
@use "pages/landingpage";
@use "pages/toast";
@use "pages/pricing";

// RTL Theme
@use "rtl/rtl";


.leaflet-container a.leaflet-popup-close-button {
     position: absolute !important;
    left: 360px !important;
    top: 15px !important;
  padding: 4px 4px 0 0;
  border: none;
  width: 25px !important;
  height: 26px !important;
  font: 20px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
//   background: transparent;
  font-size: 24px !important;
 
}

.leaflet-popup-content-wrapper {
  width: auto !important;
  padding: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.leaflet-popup-tip {
  display: none !important;
}

.custom-popup .leaflet-popup-content {
  margin: 0 !important;
  padding: 0 !important;
}


.custom-popup .leaflet-popup-content-wrapper {
  border-radius: 0 !important;
  padding: 0 !important;
  overflow: visible !important;
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  backdrop-filter: none !important;
}

