<div class="heading-container">
    <h3 class="main-heading">Add Unidentified Body</h3>
</div>
<div class="container-fluid">

    <!-- Tab Content -->
    <div class="tab-content" id="myTabContent">
      <!-- Missing Person Tab -->
      <div class="tab-pane fade show active" id="missing-person" role="tabpanel" aria-labelledby="missing-person-tab">
        <div class="">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active " id="personal-details-tab" data-bs-toggle="tab" href="#personal-details" role="tab" aria-controls="personal-details" aria-selected="true">Personal Details</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="additional_info-tab" data-bs-toggle="tab" href="#additional_info" role="tab" aria-controls="additional_info" aria-selected="false">Additional Info</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="missingdata-tab" data-bs-toggle="tab" href="#missingdata" role="tab" aria-controls="clothing" aria-selected="false">Missing Data</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="legal_info-tab" data-bs-toggle="tab" href="#legal_info" role="tab" aria-controls="clothing" aria-selected="false">Legal Info</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link " id="reportingPerson-tab" data-bs-toggle="tab" href="#reportingPerson" role="tab" aria-controls="reportingPerson" aria-selected="false">Reporting Person</a>
            </li>
            
            <li class="nav-item" role="presentation">
              <a class="nav-link" id="consent-pane-tab" data-bs-toggle="tab" href="#consent-pane" role="tab" aria-controls="consent-pane" aria-selected="false">Consent</a>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>