// .is-invalid {
//   border-color: red !important;
// }

// .form-control:focus.is-valid, 
// .form-control:focus.is-invalid {
//   box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
// }

// .img-full-cover {
//   height: 100%;
//   width: 100%;
//   background-image: url('/assets/images/backgrounds/sideimg3.jpeg');
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-color: #f5f5f5;
// }

// .row.w-100.h-100 {
//   height: 100vh;
// }

// .col-lg-7, .col-xl-8 {
//   height: 100%;
// }

// .img-full-cover img {
//   display: none; 
// }

/* Keep your existing styles and add these: */

.img-full-cover {
  height: 100%;
  width: 100%;
  background-image: url('/assets/images/backgrounds/sideimg3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f5f5;
}

.row.w-100.h-100 {
  height: 100vh;
}

.col-lg-7, .col-xl-8 {
  height: 100%;
}

.or-border {
  text-align: center;
  position: relative;
}

.or-border::before,
.or-border::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1px;
  background-color: #ccc;
}

.or-border::before {
  left: 0;
}

.or-border::after {
  right: 0;
}


/* Adjust form width for better responsiveness */
.max-width-form {
  max-width: 400px;
  width: 100%;
}

.phone-wrapper {
  display: flex;
  gap: 8px;
}

.country-code-field {
  width: 110px;
  min-width: 110px;
}

.phone-number-field {
  flex: 1;
}