<h5 mat-dialog-title>Edit Profile</h5>

<mat-dialog-content>
  <form [formGroup]="editForm" (ngSubmit)="onSave()">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="first_name" required>
          <mat-error *ngIf="editForm.get('first_name')?.hasError('required')">
            First name is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="last_name" required>
          <mat-error *ngIf="editForm.get('last_name')?.hasError('required')">
            Last name is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email_id" type="email" required>
      <mat-error *ngIf="editForm.get('email_id')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="editForm.get('email_id')?.hasError('email')">
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phone_no" type="tel">
    </mat-form-field>

    <div class="image-upload-section">
      <div class="current-image" *ngIf="currentImage">
        <label>Current Profile Image:</label>
        <img [src]="currentImage" alt="Current Profile">
      </div>
      
      <div class="new-image">
        <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" hidden>
        <button mat-stroked-button type="button" (click)="fileInput.click()">
          <mat-icon>cloud_upload</mat-icon> Change Profile Image
        </button>
        <span class="file-name" *ngIf="selectedFile">{{ selectedFile.name }}</span>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="editForm.invalid || isSaving">
    <span *ngIf="!isSaving">Save Changes</span>
    <mat-spinner *ngIf="isSaving" diameter="20"></mat-spinner>
  </button>
</mat-dialog-actions>