/* Medium image section styles */

.containerx {
  background: linear-gradient(90deg, rgba(245,130,0,1) 0%, rgb(250, 168, 75) 48%, rgba(223,137,14,1) 100%);
}

.border{
  padding: 5px !important;
  border: 01px solid #f58200 !important;
}