<div class="container-fluid mt-2">
  <div class="row g-2">
    <!-- Loop through all hospitals -->
    <div class="col-12" *ngFor="let hospital of allhospitals">
      <div class="card custom-card shadow-lg">
        <div class="row g-0 align-items-center">
          <!-- Image Section -->
          <div class="col-md-6 d-flex justify-content-center align-items-center">
            <div class="hospital-photo-container-medium">
              <img [src]="environment.apiUrl + hospital.photo_upload" alt="hospital Photo" class="img-fluid hospital-photo" />
            </div>
          </div>

          <!-- Data Section -->
          <div class="col-md-6">
            <div class="card-body">
              <h4 class="text-center text-uppercase mb-4">{{ hospital.name || "Loading..." }}</h4>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Entity Type</th>
                    <td>{{ hospital.entity_type || "Loading..." }}</td>
                  </tr>
                  <tr>
                    <th>Zone</th>
                    <td>{{ hospital.hospital_zone_name || "Loading..." }}</td>
                  </tr>
                  <tr>
                    <th>Division</th>
                    <td>{{ hospital.hospital_division_name || "Loading..." }}</td>
                  </tr>
                  <tr>
                    <th>Address</th>
                    <td>{{ hospital.hospital_address || "Loading..." }}</td>
                  </tr>
                  <tr>
                    <th>City</th>
                    <td>{{ hospital.city || "Not Available" }}</td>
                  </tr>
                  <tr>
                    <th>District</th>
                    <td>{{ hospital.district || "Not Available" }}</td>
                  </tr>
                  <tr>
                    <th>State</th>
                    <td>{{ hospital.state || "Not Available" }}</td>
                  </tr>
                  <tr>
                    <th>Country</th>
                    <td>{{ hospital.country || "Not Available" }}</td>
                  </tr>
                  <tr>
                    <th>Website</th>
                    <td>
                      <a *ngIf="hospital.website" [href]="hospital.website" target="_blank" class="text-primary">{{ hospital.website }}</a>
                      <span *ngIf="!hospital.website">Not Available</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
