<div class="unidentified-person-form-container p-4 bg-white rounded shadow-sm">
  <div class="heading-container">
    <h3 class="main-heading">UNIDENTIFIED BODY REPORT FORM</h3>
  </div>

  <form [formGroup]="unidentifiedBodyForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <!-- Personal Info Section -->
    <div class="p-3 bg-light-primary rounded">
      <h5 class="f-s-14 text-primary d-flex align-items-center f-w-600">
        <i-tabler name="info-circle" class="icon-20 me-2 d-flex"></i-tabler>
        Personal Info
      </h5>
    </div>

    <mat-card class="p-4 m-1 mb-4">
      <div class="row g-2 p-3">
        <!-- Full Name -->

        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Full Name</mat-label>
            <input matInput type="text" formControlName="full_name" maxlength="30"
              (keypress)="allowOnlyLetters($event,'full_name','unidentifiedBodyForm')" />
            <mat-error
              *ngIf="unidentifiedBodyForm.get('full_name')?.invalid && unidentifiedBodyForm.get('full_name')?.touched">

              <span *ngIf="unidentifiedBodyForm.get('full_name')?.errors?.['invalidChars']">
                Numbers and special Symbols not allowed
              </span>
              <span *ngIf="unidentifiedBodyForm.get('full_name')?.errors?.['maxlength']">
                Maximum 30 characters allowed
              </span>
            </mat-error>
          </mat-form-field>
        </div>


        <!-- <mat-form-field appearance="outline" class="col-16 col-md-6 col-lg-4 border_darkk">
            <mat-label>Full Name</mat-label>
            <input 
                matInput 
                type="text" 
                formControlName="full_name" 
                maxlength="30" 
                (keypress)="allowOnlyLetters($event)"
            />
            <mat-hint align="end" *ngIf="unidentifiedBodyForm.get('full_name')?.value">
              {{ unidentifiedBodyForm.get('full_name')?.value.length }}
            </mat-hint>

            <mat-error *ngIf="unidentifiedBodyForm.get('full_name')?.invalid && unidentifiedBodyForm.get('full_name')?.touched">
        
                <span *ngIf="unidentifiedBodyForm.get('full_name')?.errors?.['invalidChars']">
                    Numbers and special Symbols not allowed
                </span>
                <span *ngIf="unidentifiedBodyForm.get('full_name')?.errors?.['maxlength']">
                    Maximum 30 characters allowed
                </span>
            </mat-error>
        </mat-form-field> -->

        <!-- Gender -->
        <div class="col-12 col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>Gender</mat-label> -->
            <mat-select formControlName="gender" required>
              <mat-option value="">Select Gender</mat-option>
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
            <mat-error *ngIf="unidentifiedBodyForm.get('gender')?.hasError('required')">
              Please select the Gender
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Date of Birth -->
        <div class="col-12 col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birth_date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <!-- Age Range -->
        <!-- <div class="col-12 col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Age Range</mat-label>
            <input matInput type="text" formControlName="age_range" />
            <mat-error *ngIf="unidentifiedBodyForm.get('age_range')?.hasError('pattern')">
              Please enter a valid numeric value
            </mat-error>
          </mat-form-field>
        </div> -->
        <!-- Age Range -->
        <div class="col-12 col-md-3 ">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Age Range</mat-label>
            <mat-select formControlName="age_range">
              <mat-option *ngFor="let range of [
                  ['0-5', '0 - 5'], ['6-12', '6 - 12'], ['13-17', '13 - 17'],
                  ['18-24', '18 - 24'], ['25-34', '25 - 34'], ['35-44', '35 - 44'],
                  ['45-54', '45 - 54'], ['55-64', '55 - 64'], ['65-74', '65 - 74'],
                  ['75-84', '75 - 84'], ['85-100', '85+']
                ]" [value]="range[0]">
                {{ range[1] }}
              </mat-option>
            </mat-select>

          </mat-form-field>
        </div>

        <!-- Blood Group -->
        <div class="col-12 col-md-3 ">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Blood Group</mat-label>
            <mat-select formControlName="blood_group">
              <mat-option value="A+">A+</mat-option>
              <mat-option value="O+">O+</mat-option>
              <mat-option value="B+">B+</mat-option>
              <mat-option value="AB+">AB+</mat-option>
              <mat-option value="AB-">AB-</mat-option>
              <mat-option value="A-">A-</mat-option>
              <mat-option value="O-">O-</mat-option>
              <mat-option value="B-">B-</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Height -->
        <!-- <div class="col-12 col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Height (cm)</mat-label>
            <input matInput type="number" formControlName="height" max="250" />
            <mat-error *ngIf="unidentifiedBodyForm.get('height')?.hasError('max')">
              Height cannot exceed 250cm
            </mat-error>
            <mat-error *ngIf="unidentifiedBodyForm.get('height')?.hasError('pattern')">
              Please enter a valid number
            </mat-error>
          </mat-form-field>
        </div> -->

        <!-- Weight -->
        <div class="col-12 col-md-3 ">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Height (cm)</mat-label>
            <mat-select formControlName="height_range">
              <mat-option value="<150">Less than 150 cm</mat-option>
              <mat-option value="150-160">150 - 160 cm</mat-option>
              <mat-option value="161-170">161 - 170 cm</mat-option>
              <mat-option value="171-180">171 - 180 cm</mat-option>
              <mat-option value="181-190">181 - 190 cm</mat-option>
              <mat-option value=">190">More than 190 cm</mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <!-- Age -->
        <!-- Weight Field -->
        <div class="col-12 col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Weight</mat-label>
            <input matInput type="number" formControlName="weight" (keypress)="allowOnlyNumbers($event)"
              (input)="restrictMaxAge($event)" min="1" max="200" />
            <mat-error
              *ngIf="unidentifiedBodyForm.get('weight')?.invalid && unidentifiedBodyForm.get('weight')?.touched">
              <!-- Error for non-numeric input -->
              <span *ngIf="unidentifiedBodyForm.get('weight')?.errors?.['invalidChars']">
                Only numbers are allowed
              </span>
              <!-- Error for min/max age -->
              <span *ngIf="unidentifiedBodyForm.get('weight')?.errors?.['min']">
                Age must be at least 1
              </span>
              <span *ngIf="unidentifiedBodyForm.get('weight')?.errors?.['max']">
                Age cannot exceed 200
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Complexion -->
        <div class="col-12 col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Complexion</mat-label>
            <mat-select formControlName="complexion">
              <mat-option value="fair">Fair</mat-option>
              <mat-option value="dusky">Dusky</mat-option>
              <mat-option value="wheatish">Wheatish</mat-option>
              <mat-option value="dark">Dark</mat-option>
              <mat-option value="medium">Medium</mat-option>
              <mat-option value="light">Light</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Hair Color -->
        <div class="col-12 col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Hair Color</mat-label>
            <mat-select formControlName="hair_color">
              <mat-option value="black">Black</mat-option>
              <mat-option value="brown">Brown</mat-option>
              <mat-option value="grey">Grey</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Eye Color -->
        <div class="col-12 col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Eye Color</mat-label>
            <mat-select formControlName="eye_color">
              <mat-option value="black">Black</mat-option>
              <mat-option value="brown">Brown</mat-option>
              <mat-option value="green">Green</mat-option>
              <mat-option value="hazel">Hazel</mat-option>
              <mat-option value="gray">Gray</mat-option>
              <mat-option value="yellow">Yellow</mat-option>
              <mat-option value="blue">Blue</mat-option>
              <mat-option value="violet">Violet</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Hair Type -->
        <div class="col-12 col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Hair Type</mat-label>
            <mat-select formControlName="hair_type">
              <mat-option value="straight">Straight</mat-option>
              <mat-option value="dashed">Dashed</mat-option>
              <mat-option value="dotted">Dotted</mat-option>
              <mat-option value="long">Long</mat-option>
              <mat-option value="broad">Broad</mat-option>
              <mat-option value="short">Short</mat-option>
              <mat-option value="wavy">Wavy</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Birthmark Details</mat-label>
            <textarea matInput formControlName="birth_mark" rows="3" maxlength="250"
              (keypress)="allowOnlyLetters($event, 'birth_mark','unidentifiedBodyForm')"> <!-- Apply letter-only restriction -->
            </textarea>

            <mat-error
              *ngIf="unidentifiedBodyForm.get('birth_mark')?.invalid && unidentifiedBodyForm.get('birth_mark')?.touched">
              <span *ngIf="unidentifiedBodyForm.get('birth_mark')?.errors?.['invalidChars']">
                Only letters (A-Z) and spaces are allowed
              </span>
              <span *ngIf="unidentifiedBodyForm.get('birth_mark')?.errors?.['maxlength']">
                Maximum 250 characters allowed
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Distinctive Marks -->
        <div class="col-12 col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Distinctive Marks</mat-label>
            <textarea matInput formControlName="distinctive_mark" rows="3" maxlength="250"
              (keypress)="allowOnlyLetters($event, 'distinctive_mark','unidentifiedBodyForm')"> <!-- Apply letter-only restriction -->
            </textarea>
            <mat-error
              *ngIf="unidentifiedBodyForm.get('distinctive_mark')?.invalid && unidentifiedBodyForm.get('distinctive_mark')?.touched">
              <span *ngIf="unidentifiedBodyForm.get('distinctive_mark')?.errors?.['invalidChars']">
                Only letters (A-Z) and spaces are allowed
              </span>
              <span *ngIf="unidentifiedBodyForm.get('distinctive_mark')?.errors?.['maxlength']">
                Maximum 250 characters allowed
              </span>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Select Hospital -->
        <div class="col-12 col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Select Hospitals</mat-label>
            <mat-select formControlName="hospital">
              <mat-option *ngFor="let hospital of hospitals" [value]="hospital.id">
                {{ hospital.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Death Type</mat-label>
            <mat-select formControlName="death_type">
              <mat-option value="natural">Natural Causes</mat-option>
              <mat-option value="accident">Accident</mat-option>
              <mat-option value="homicide">Homicide</mat-option>
              <mat-option value="suicide">Suicide</mat-option>
              <mat-option value="unknown">Unknown</mat-option>
              <mat-option value="other">Other</mat-option>
              <mat-option value="disease">Disease</mat-option>
              <mat-option value="poisoning">Poisoning</mat-option>
              <mat-option value="drowning">Drowning</mat-option>
              <mat-option value="burn">Burn</mat-option>
              <mat-option value="starvation">Starvation</mat-option>
              <mat-option value="hypothermia">Hypothermia</mat-option>
              <mat-option value="heatstroke">Heatstroke</mat-option>
              <mat-option value="medical_error">Medical Error</mat-option>
              <mat-option value="war">War</mat-option>
              <mat-option value="execution">Execution</mat-option>
              <mat-option value="complication">Complication</mat-option>
              <mat-option value="drug_overdose">Drug Overdose</mat-option>
              <mat-option value="asphyxiation">Asphyxiation</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Body Condition -->
        <div class="col-12 col-md-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Body Condition</mat-label>
            <mat-select formControlName="bodies_condition" multiple>
              <mat-option value="decomposed">Decomposed</mat-option>
              <mat-option value="intact">Intact</mat-option>
              <mat-option value="skeletal">Skeletal</mat-option>
              <mat-option value="burnt">Burnt</mat-option>
              <mat-option value="fresh">Fresh</mat-option>
              <mat-option value="normal">Normal</mat-option>
              <mat-option value="unstable">Unstable</mat-option>
              <mat-option value="stable">Stable</mat-option>
              <mat-option value="excess">Excess</mat-option>
              <mat-option value="underweight">Underweight</mat-option>
              <mat-option value="overweight">Overweight</mat-option>
              <mat-option value="obese">Obese</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Body Photo Upload -->
        <div class="col-md-3" style="margin-bottom: 20px;">
          <button mat-stroked-button color="primary" class="w-100" type="button" (click)="personPhotoInput.click()">
            <mat-icon>cloud_upload</mat-icon>Person Photo
          </button>
          <input #personPhotoInput type="file" accept="image/*" hidden (change)="onFileSelect_person_photo($event)" />
        </div>
      </div>
    </mat-card>

    <!-- Address Section -->
    <div class="p-3 bg-light-primary rounded mt-4 mb-2 d-flex justify-content-between align-items-center">
      <h5 class="f-s-14 text-primary d-flex align-items-center f-w-600 mb-0">
        <i-tabler name="info-circle" class="icon-20 me-2 d-flex"></i-tabler> Address
      </h5>
      <button mat-flat-button color="primary" type="button" (click)="addAddress()">Add Another Address</button>
    </div>

    <mat-card class="p-3 mb-4">
      <div formGroupName="addressForm" class="row g-3 m-2">
        <!-- Left Section: Address Fields -->
        <div class="col-md-6">
          <div class="row g-2">
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="address_type">
                  <mat-option value="" disabled>Address Type</mat-option>
                  <mat-option value="permanent">Permanent</mat-option>
                  <mat-option value="current">Current</mat-option>
                  <mat-option value="old">Old</mat-option>
                </mat-select>

              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Street</mat-label>



                <input matInput formControlName="street" />
                <mat-error
                  *ngIf="addressForm.get('street')?.touched && addressForm.get('street')?.hasError('required')">
                  Street is required.
                </mat-error>
                <mat-error
                  *ngIf="addressForm.get('street')?.touched && addressForm.get('street')?.hasError('maxlength')">
                  Maximum 30 characters allowed.
                </mat-error>
                <mat-error
                  *ngIf="addressForm.get('street')?.touched && addressForm.get('street')?.hasError('invalidCharacters')">
                  Only letters, numbers, spaces, commas, and hyphens are allowed.
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-12">
              <form [formGroup]="addressForm" novalidate>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Landmark Details</mat-label>
                  <textarea matInput formControlName="landmark_details" rows="1"></textarea>
                  <mat-error
                    *ngIf="addressForm.get('landmark_details')?.touched && addressForm.get('landmark_details')?.hasError('maxlength')">
                    Maximum 150 characters allowed.
                  </mat-error>

                  <mat-error
                    *ngIf="addressForm.get('landmark_details')?.touched && addressForm.get('landmark_details')?.hasError('invalidLandmark')">
                    Only letters, numbers, spaces, and , . - # are allowed.
                  </mat-error>
                </mat-form-field>
              </form>

            </div>


            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Village</mat-label>
                <input matInput type="text" formControlName="village" maxlength="30"
                  (keypress)="allowTextInput($event, 'village')">
                <mat-error *ngIf="addressForm.get('village')?.invalid && addressForm.get('village')?.touched">
                  <span *ngIf="addressForm.get('village')?.errors?.['invalidChars']">
                    Only letters allowed
                  </span>
                  <span *ngIf="addressForm.get('village')?.errors?.['maxlength']">
                    Maximum 30 characters allowed
                  </span>
                </mat-error>
              </mat-form-field>
            </div>


            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>City</mat-label>
                <input matInput type="text" formControlName="city" maxlength="30"
                  (keypress)="allowTextInput($event, 'city')">
                <mat-error *ngIf="addressForm.get('city')?.invalid && addressForm.get('city')?.touched">
                  <span *ngIf="addressForm.get('city')?.errors?.['invalidChars']">
                    Only letters allowed
                  </span>
                  <span *ngIf="addressForm.get('city')?.errors?.['maxlength']">
                    Maximum 30 characters allowed
                  </span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>District</mat-label>
                <!-- <input matInput type="text" formControlName="district" maxlength="30"> -->
                <input matInput type="text" formControlName="district" maxlength="30"
                  (keypress)="allowTextInput($event, 'district')">
                <mat-error *ngIf="addressForm.get('district')?.invalid && addressForm.get('district')?.touched">
                  <span *ngIf="addressForm.get('district')?.errors?.['invalidChars']">
                    Only letters allowed
                  </span>
                  <span *ngIf="addressForm.get('district')?.errors?.['maxlength']">
                    Maximum 30 characters allowed
                  </span>
                </mat-error>

              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="state">
                  <mat-option value="" disabled>State</mat-option>
                  <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
                </mat-select>

              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Pincode</mat-label>
                <input matInput type="text" formControlName="pincode" maxlength="15"
                  (keypress)="allowOnlyNumbers($event)">
                <mat-error *ngIf="addressForm.get('pincode')?.invalid && addressForm.get('pincode')?.touched">
                  <span *ngIf="addressForm.get('pincode')?.errors?.['invalidChars']">
                    Only numbers are allowed.
                  </span>
                  <span *ngIf="addressForm.get('pincode')?.errors?.['pattern']">
                    Please enter a valid pincode (1–15 digits).
                  </span>
                </mat-error>
              </mat-form-field>

            </div>


            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="country">
                  <mat-option value="" disabled>Country</mat-option>
                  <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>



          </div>
        </div>

        <!-- Right Section: Map & Location -->
        <div class="col-md-6">
          <div formGroupName="location">
            <div class="d-flex gap-2">
              <mat-form-field appearance="outline" class="flex-grow-1 me-2">
                <mat-label>Latitude</mat-label>
                <input matInput type="text" formControlName="latitude" />
                <mat-error *ngIf="
                    addressForm.get('location.latitude')?.touched &&
                    addressForm.get('location.latitude')?.hasError('invalidCoordinate')
                  ">
                  Enter a valid number.
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="flex-grow-1">
                <mat-label>Longitude</mat-label>
                <input matInput type="text" formControlName="longitude" />
                <mat-error *ngIf="
                    addressForm.get('location.longitude')?.touched &&
                    addressForm.get('location.longitude')?.hasError('invalidCoordinate')">
                  Enter a valid number.
                </mat-error>
              </mat-form-field>

              <button type="button" mat-icon-button (click)="getCurrentLocation()"
                matTooltip="Fetch your current location">
                <mat-icon>my_location</mat-icon>
              </button>
            </div>
            <div id="mapHome" style="height: 250px; border: 1px solid black; border-radius: 5px; z-index: 1;"></div>
          </div>
        </div>
      </div>

      <!-- Display Added Addresses -->
      <div *ngFor="let address of addresses.controls; let i = index"
        class="d-flex align-items-center justify-content-between border-bottom py-2">
        <div class="flex-grow-1">
          <span class="address-title d-flex align-items-center">
            <mat-icon color="primary" class="me-2">place</mat-icon>
            <strong>{{ address.get('address_type')?.value || 'No type' }}:</strong>
          </span>
          <span class="address-text text-muted">
            {{
            (address.get('street')?.value ? address.get('street')?.value + ', ' : '') +
            (address.get('appartment_no')?.value ? 'Apt ' + address.get('appartment_no')?.value + ', ' : '') +
            (address.get('village')?.value ? address.get('village')?.value + ', ' : '') +
            (address.get('city')?.value ? address.get('city')?.value + ', ' : '') +
            (address.get('district')?.value ? address.get('district')?.value + ', ' : '') +
            (address.get('state')?.value ? address.get('state')?.value + ' - ' : '') +
            (address.get('pincode')?.value ? address.get('pincode')?.value : '') +
            (address.get('country')?.value ? ', ' + address.get('country')?.value : '')
            }}
          </span>
        </div>
        <button mat-icon-button color="warn" type="button" (click)="removeAddress(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>

    <!-- Contact Section -->
    <div class="p-3 bg-light-primary rounded mt-4 mb-2 d-flex justify-content-between align-items-center">
      <h5 class="f-s-14 text-primary d-flex align-items-center f-w-600 mb-0">
        <i-tabler name="info-circle" class="icon-20 me-2 d-flex"></i-tabler> Contact
      </h5>
      <button mat-flat-button color="primary" type="button" (click)="addContact()">Add Another Contact</button>
    </div>

    <!-- Contact Information Card -->
    <mat-card class="p-3 mb-4">
      <form formGroupName="contactForm">
        <div class="row g-2 m-1">
          <!-- Contact Type -->
          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="type">
                <mat-option value="personal">Personal</mat-option>
                <mat-option value="office">Office</mat-option>
                <mat-option value="home">Home</mat-option>
                <mat-option value="referral">Referral</mat-option>
                <mat-option value="emergency">Emergency</mat-option>
                <mat-option value="work">Work</mat-option>
                <mat-option value="family">Family</mat-option>
                <mat-option value="friend">Friend</mat-option>
                <mat-option value="medical">Medical</mat-option>
                <mat-option value="school">School</mat-option>
                <mat-option value="legal">Legal</mat-option>
                <mat-option value="other">Other</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Company Name -->

          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="person_name" maxlength="30"
                (keypress)="allowOnlyLetters($event,'person_name','contactForm')" />

              <mat-error *ngIf="contactForm.get('person_name')?.invalid && contactForm.get('person_name')?.touched">

                <span *ngIf="contactForm.get('person_name')?.errors?.['invalidChars']">
                  Numbers, special Symbols not allowed
                </span>
                <span *ngIf="contactForm.get('person_name')?.errors?.['maxlength']">
                  Maximum 30 characters allowed
                </span>
              </mat-error>

            </mat-form-field>

          </div>

          <!-- Phone Number -->

          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Phone Number</mat-label>
              <input matInput type="text" formControlName="phone_no" maxlength="10"
                (keypress)="allowOnlyNumbers($event)">
              <mat-error *ngIf="contactForm.get('phone_no')?.invalid && contactForm.get('phone_no')?.touched">
                <span *ngIf="contactForm.get('phone_no')?.errors?.['invalidChars']">
                  Only numbers are allowed.
                </span>
                <span *ngIf="contactForm.get('phone_no')?.errors?.['pattern']">
                  Please enter a valid phone number (1–10 digits).
                </span>
              </mat-error>
            </mat-form-field>

          </div>


          <!-- Email -->

          <div class="col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email_id" placeholder="Email" maxlength="50" />

              <mat-error *ngIf="contactForm.get('email_id')?.touched && contactForm.get('email_id')?.invalid">
                <span *ngIf="contactForm.get('email_id')?.hasError('pattern')">
                  Please enter valid email. It should start with letter.
                </span>
                <span *ngIf="contactForm.get('email_id')?.hasError('maxlength')">
                  Email cannot exceed 50 characters.
                </span>
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Additional Notes</mat-label>
              <textarea matInput formControlName="additional_details" maxlength="200"></textarea>

              <mat-error *ngIf="contactForm.get('additional_details')?.hasError('maxlength')">
                Maximum 200 characters allowed
              </mat-error>
            </mat-form-field>
          </div>


        </div>
      </form>

      <mat-list class="mt-1">
        <mat-list-item *ngFor="let contact of contacts.controls; let i = index">
          <div class="w-100 d-flex align-items-center justify-content-between">
            <div class="contact-line">
              <span class="contact-type">
                <mat-icon class="text-primary">person</mat-icon>
                <strong>{{ contact.get('type')?.value }}:</strong>
              </span>

              <span class="contact-info">
                📞 {{ contact.get('phone_no')?.value || '' }} |
                ✉️ {{ contact.get('email_id')?.value || '' }} |
                🏢 {{ contact.get('company_name')?.value || '' }} |
                {{ contact.get('job_title')?.value || '' }}
              </span>
            </div>

            <!-- Remove Button -->
            <button mat-icon-button color="warn" type="button" (click)="removeContact(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-card>

    <!-- Additional Information Section -->
    <div class="p-3 bg-light-primary rounded mt-4 mb-2 d-flex align-items-center" style="min-height: 60px;">
      <h5 class="f-s-14 text-primary d-flex align-items-center f-w-600 mb-0">
        <i-tabler name="info-circle" class="icon-20 me-2 d-flex"></i-tabler>
        Additional Information
      </h5>
    </div>

    <!-- Additional Information Card -->
    <mat-card class="p-4 mb-4 mt-2">
      <div formArrayName="additional_info">
        <div *ngFor="let info of additionalInfo.controls; let i = index" [formGroupName]="i" class="row g-3 p-3">
          <div class="row g-2">
            <!-- Caste -->
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Caste</mat-label>
                <mat-select formControlName="caste">
                  <mat-option value="open">Open</mat-option>
                  <mat-option value="sc">SC</mat-option>
                  <mat-option value="st">ST</mat-option>
                  <mat-option value="obc">OBC</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Subcaste -->
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Subcaste</mat-label>
                <mat-select formControlName="subcaste">
                  <mat-option value="mahar">Mahar</mat-option>
                  <mat-option value="chambhar">Chambhar</mat-option>
                  <mat-option value="brahmin">Brahmin</mat-option>
                  <mat-option value="gurdian">Gurdian</mat-option>
                  <mat-option value="maratha">Maratha</mat-option>
                  <mat-option value="rajput">Rajput</mat-option>
                  <mat-option value="jain">Jain</mat-option>
                  <mat-option value="teli">Teli</mat-option>
                  <mat-option value="kumbhar">Kumbhar</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Marital Status -->
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="marital_status">
                  <mat-option value="">Marital Status</mat-option>
                  <mat-option value="single">Single</mat-option>
                  <mat-option value="married">Married</mat-option>
                  <mat-option value="divorced">Divorced</mat-option>
                  <mat-option value="widowed">Widowed</mat-option>
                  <mat-option value="separated">Separated</mat-option>
                  <mat-option value="annulled">Annulled</mat-option>
                  <mat-option value="in_relationship">In a Relationship</mat-option>
                  <mat-option value="engaged">Engaged</mat-option>
                  <mat-option value="domestic_partnership">Domestic Partnership</mat-option>
                  <mat-option value="unknown">Unknown</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Religion -->
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Religion</mat-label>
                <mat-select formControlName="religion">
                  <mat-option value="hindu">Hindu</mat-option>
                  <mat-option value="muslim">Muslim</mat-option>
                  <mat-option value="sikh">Sikh</mat-option>
                  <mat-option value="christian">Christian</mat-option>
                </mat-select>
              </mat-form-field>
            </div>


            <!-- Mother Tongue -->
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Mother Tongue</mat-label>
                <mat-select formControlName="mother_tongue">
                  <mat-option value="hindi">Hindi</mat-option>
                  <mat-option value="english">English</mat-option>
                  <mat-option value="marathi">Marathi</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Known Languages -->
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Other Known Languages</mat-label>
                <input matInput type="text" formControlName="other_known_languages">
                <!-- <mat-hint>Enter up to 5 languages separated by commas</mat-hint>
                <mat-error *ngIf="additionalInfo.controls[i].get('other_known_languages')?.hasError('tooManyLanguages')">
                  Maximum 5 languages allowed
                </mat-error>
                <mat-error *ngIf="additionalInfo.controls[i].get('other_known_languages')?.hasError('invalidLanguageChars')">
                  Languages can only contain letters
                </mat-error> -->
              </mat-form-field>
            </div>

            <!-- Identification Type -->
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Identification Type</mat-label>
                <mat-select formControlName="id_type">
                  <mat-option value="aadhar_card">Aadhar Card</mat-option>
                  <mat-option value="pan_card">Pan Card</mat-option>
                  <mat-option value="driving_license">Driving License</mat-option>
                  <mat-option value="passport">Passport</mat-option>
                  <mat-option value="voter_id_card">VoterID</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Identification Card Number -->
            <!-- <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Identification Card Number</mat-label>
                <input matInput type="text" formControlName="id_no">
                <mat-error *ngIf="additionalInfo.controls[i].get('id_no')?.hasError('pattern')">
                  ID number must be alphanumeric
                </mat-error>
              </mat-form-field>
            </div> -->

            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Identification Card Number</mat-label>
                <input matInput type="text" formControlName="id_no" maxlength="15"
                  (blur)="additionalInfo.controls[i].get('id_no')" (keypress)="preventSpecialCharacters($event)">

                <mat-error *ngIf="additionalInfo.controls[i].get('id_no')?.hasError('maxlength')">
                  Maximum 15 characters or allowed
                </mat-error>

                <mat-error
                  *ngIf="additionalInfo.controls[i].get('id_no')?.hasError('specialChars') && additionalInfo.controls[i].get('id_no')?.touched">
                  Special characters are not allowed
                </mat-error>

              </mat-form-field>
            </div>

            <!-- Educational Details -->
            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Educational Details</mat-label>
                <input matInput type="text" formControlName="education_details">
              </mat-form-field>
            </div>

            <!-- Occupation -->

            <div class="col-md-6">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Occupation</mat-label>
                <input matInput type="text" formControlName="occupation_details"
                  (blur)="additionalInfo.controls[i].get('occupation_details')?.markAsTouched()"
                  (keypress)="preventSpecialCharacters($event)" />


                <mat-error *ngIf="additionalInfo.controls[i].get('occupation_details')?.hasError('maxlength')">
                  Maximum 30 characters allowed
                </mat-error>
                <mat-error *ngIf="additionalInfo.controls[i].get('occupation_details')?.hasError('pattern')">
                  Special characters are not allowed
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </mat-card>

    <!-- Legal Info Section -->
    <div class="p-3 bg-light-primary rounded mt-4 mb-2 d-flex align-items-center" style="min-height: 60px;">
      <h5 class="f-s-14 text-primary d-flex align-items-center f-w-600 mb-0">
        <i-tabler name="info-circle" class="icon-20 me-2 d-flex"></i-tabler>
        Legal Info
      </h5>
    </div>

    <mat-card class="card  p-4 mb-4">
      <div formArrayName="firs">
        <div *ngFor="let info of firs.controls; let i = index" [formGroupName]="i" class="row g-2 p-3">
          <!-- Case Status -->
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="case_status">
                <mat-option value="">Case Status</mat-option>
                <mat-option value="Open">Open</mat-option>
                <mat-option value="Resolved">Resolved</mat-option>
                <mat-option value="In Progress">In Progress</mat-option>
                <mat-option value="Closed">Closed</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- FIR Number -->
          <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>FIR Number</mat-label>
              <input matInput type="text" formControlName="fir_number" maxlength="20">
              <mat-error *ngIf="firs.controls[i].get('fir_number')?.hasError('pattern')">
                FIR Number must be alphanumeric and up to 20 characters
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Upload FIR Photo -->
          <div class="col-md-4" style="margin-bottom: 20px;">
            <button mat-stroked-button color="primary" class="w-100" type="button" (click)="firInput.click()">
              <mat-icon>cloud_upload</mat-icon> Upload FIR Photo
            </button>
            <input #firInput type="file" accept="image/*,application/pdf" hidden
              (change)="onFileSelect($event, 'firs', i, 'fir_photo')" />
          </div>

          <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Police Station Name & Address</mat-label>
              <mat-select formControlName="police_station">
                <mat-option *ngFor="let station of policeStations" [value]="station.id">
                  {{ station.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- Investigating Officer Name -->
          <div class="col-md-4">
            <!-- <mat-form-field appearance="outline" class="w-100"> -->
            <!-- <mat-label>Investigating Officer's Name</mat-label>
              <input matInput type="text" formControlName="investigation_officer_name" maxlength="30">
              <mat-error *ngIf="firs.controls[i].get('investigation_officer_name')?.hasError('pattern')">
                Name must contain only letters and be up to 30 characters
              </mat-error>
            </mat-form-field> -->
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Investigating Officer's Name</mat-label>
              <input matInput type="text" formControlName="investigation_officer_name" maxlength="30"
                (keypress)="allowOnlyLetters($event, 'investigation_officer_name', 'firsForm')">
              <mat-error *ngIf="firs.controls[i].get('investigation_officer_name')?.errors">
                <span *ngIf="firs.controls[i].get('investigation_officer_name')?.errors?.['invalidChars']">
                  Name must contain only letters and spaces
                </span>
                <span *ngIf="firs.controls[i].get('investigation_officer_name')?.errors?.['maxlength']">
                  Maximum 30 characters allowed
                </span>
              </mat-error>
            </mat-form-field>

          </div>

          <!-- Investigating Officer Contact -->

          <div class="col-md-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Investigating Officer's Contact Number</mat-label>
              <input matInput type="text" formControlName="investigation_officer_contacts" maxlength="10"
                (keypress)="allowOnlyNumbers($event)">
              <mat-error
                *ngIf="firs.controls[i].get('investigation_officer_contacts')?.touched && firs.controls[i].get('investigation_officer_contacts')?.invalid">
                <span *ngIf="firs.controls[i].get('investigation_officer_contacts')?.errors?.['invalidChars']">
                  Only numbers are allowed.
                </span>
                <span *ngIf="firs.controls[i].get('investigation_officer_contacts')?.errors?.['pattern']">
                  Please enter a valid phone number (1–15 digits).
                </span>
              </mat-error>
            </mat-form-field>
          </div>

        </div>
      </div>
    </mat-card>

    <!-- Consent Section -->
    <div class="p-3 bg-light-primary rounded mt-4 mb-2 d-flex align-items-center" style="min-height: 60px;">
      <h5 class="f-s-14 text-primary d-flex align-items-center f-w-600 mb-0">
        <i-tabler name="info-circle" class="icon-20 me-2 d-flex"></i-tabler>
        Consent
      </h5>
    </div>

    <!-- Consent & Submission -->
    <mat-card class="card p-4 mb-1">
      <div formArrayName="consent">
        <div *ngFor="let info of consent.controls; let i = index" [formGroupName]="i" class="row g-3 p-3">
          <div class="col-md-12 consent-link d-flex align-items-center p-4 "
            style="gap: 10px; padding: 10px 0;margin-left: 15px;">
            <input type="checkbox" id="consentCheckbox" (change)="onConsentChange($event)"
              style="width: 18px; height: 18px; cursor: pointer;" />
            <label for="consentCheckbox" class="mb-0" style="cursor: pointer; font-size: 16px; color: #333;">
              To proceed, please open the consent document and acknowledge it by checking the box.
            </label>
          </div>


        </div>
      </div>
    </mat-card>


    <!-- Submit & Cancel Buttons -->
    <div class="d-flex justify-content-between mt-4 space-down">
      <button mat-flat-button color="primary">Cancel</button>

      <span [matTooltip]="'Please accept the consent  before submitting.'"
        [matTooltipDisabled]="consent.controls[0].get('is_consent')?.value" matTooltipPosition="above">
        <button mat-flat-button color="primary" class="ms-auto"
          [disabled]="!consent.controls[0].get('is_consent')?.value">
          SUBMIT
        </button>
      </span>
    </div>

  </form>
</div>