html.orange_theme {
  --mat-sys-primary: #F58C34  ;
  --mat-sys-primary-fixed-dim: #FFD7BE;
  --mat-sys-secondary: rgb(0, 127, 180);
  --mat-sys-secondary-fixed-dim: rgb(0, 127, 180, 0.15);
  --mat-sys-error-fixed-dim: rgba(247, 68, 86, 0.15);
}