<div class="heading-container">
    <h3 class="main-heading">MISSING PERSON REPORT FORM</h3>
  </div>
  
  <div class="container"> 
    <form [formGroup]="personForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <!-- personal info -->
      <div class="card p-3 mb-2 bg-light">
        <h5 class="header-bottom pb-2">Personal Information</h5>
          <div class="row g-3">
              <div class="col-md-12"><input type="text" class="form-control border-dark selectors-font" formControlName="full_name" placeholder="Full Name"></div>
             
              <div class="col-md-2  selectors-font">
                <!-- <label for="typeSelect" class="form-label">Select person Type</label> -->
                <select class="form-select border-dark selectors-font" id="typeSelect" formControlName="type">
                  <option value="" selected disabled>Person Type</option>
                  <option value="Missing Person">Missing Person</option>
                  <option value="Unidentified Person">Unidentified Person</option>
                  <option value="Unidentified Body">Unidentified Body</option>
                </select>
              </div>
              
              <!-- birth date -->
              <div class="col-md-2">
                <input 
                    type="text" 
                    class="form-control border-dark selectors-font" 
                    id="dob" 
                    formControlName="birth_date"
                    placeholder="Date of Birth"
                    onfocus="this.type='date'; this.value='';" 
                    onblur="if(!this.value) { this.type='text'; this.placeholder='Date of Birth'; }"
                />
            </div>
            
  
              <!-- age -->
              <div class="col-md-2">
                <input
                    type="number"
                    class="form-control border-dark selectors-font"
                    id="age"
                    formControlName="age"
                    placeholder="Age"
                    [value]="age"
            
                    
                />
              </div>
  
              <!-- birth time -->
              <div class="col-md-2">
                <input 
                    type="text" 
                    class="form-control border-dark selectors-font" 
                    id="tob" 
                    formControlName="birthtime"
                    placeholder="Time of Birth"
                    onfocus="this.type='time'; this.value='';" 
                    onblur="if(!this.value) { this.type='text'; this.placeholder='Time of Birth'; }">
              </div>
             
              <!-- gender -->
              <div class="col-md-2">
                <select class="form-select border-dark selectors-font" id="gender" name="gender" formControlName="gender">
                    <option value="" selected disabled>Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
              </div>
  
              <!-- blood group -->
             <div class="col-md-2">
              <select class="form-select border-dark selectors-font" id="bloodGroup" formControlName="blood_group">
                  <option value="" selected hidden>Blood Group</option>
                  <option value="A+">A+</option>
                  <option value="O+">O+</option>
                  <option value="B+">B+</option>
                  <option value="AB+">AB+</option>
                  <option value="AB-">AB-</option>
              </select>
          </div>
             
  
          <!-- Place of Birth -->
            <div class="col-md-3">
              <input type="text" class="form-control border-dark selectors-font" id="place_of_birth" formControlName="birthplace" placeholder="Place of Birth">
            </div>
  
            <!-- Height -->
            <div class="col-md-2">
              <input type="text" class="form-control border-dark selectors-font" id="height" formControlName="height" placeholder="Height (e.g., 151 cm)">
            </div>
  
            <!-- Weight -->
            <div class="col-md-2">
              <input type="text" class="form-control border-dark selectors-font" id="weight" formControlName="weight" placeholder="Weight (e.g., 50kg)">
            </div>
  
             
  
            <!-- Complexion -->
            <div class="col-md-3">
              <select class="form-select border-dark selectors-font" id="complexion" formControlName="complexion">
                  <option value="" disabled selected>Complexion</option>
                  <option value="Fair">Fair</option>
                  <option value="Dusky">Dusky</option>
                  <option value="Wheatish">Wheatish</option>
                  <option value="Dark">Dark</option>
              </select>
            </div>
  
            <!-- Hair Color -->
            <div class="col-md-2">
              <select class="form-select border-dark selectors-font" id="hairColor" formControlName="hair_color">
                  <option value="" disabled selected>Hair Color</option>
                  <option value="Black">Black</option>
                  <option value="Brown">Brown</option>
                  <option value="Grey">Grey</option>
              </select>
            </div>
  
            <!-- Hair Type -->
            <div class="col-md-3">
              <select class="form-select border-dark selectors-font" id="hairType" formControlName="hair_type">
                  <option value="" disabled selected>Hair Type</option>
                  <option value="Straight">Straight</option>
                  <option value="Wavy">Wavy</option>
                  <option value="Curly">Curly</option>
                  <option value="Bald">Bald</option>
              </select>
            </div>
  
            <!-- Eye Color -->
            <div class="col-md-3">
              <select class="form-select border-dark selectors-font" id="eyeColor" formControlName="eye_color">
                  <option value="" disabled selected>Eye Color</option>
                  <option value="Dark Brown">Dark Brown</option>
                  <option value="Light Brown">Light Brown</option>
                  <option value="Hazel">Hazel</option>
                  <option value="Amber">Amber</option>
                  <option value="Green">Green</option>
                  <option value="Gray">Gray</option>
              </select>
            </div>
            <!-- Condition -->
            <div class="col-md-3">
              <select class="form-select border-dark selectors-font" id="condition" formControlName="condition">
                  <option value="" disabled selected>Condition</option>
                  <option value="Memory loss">Memory loss</option>
                  <option value="Shock">Shock</option>
                  <option value="Anxiety">Anxiety</option>
                  <option value="Depression">Depression</option>
                  <option value="Fatigue">Fatigue</option>
                  <option value="Headache">Headache</option>
                  <option value="Dizziness">Dizziness</option>
                  <option value="Nausea">Nausea</option>
                  <option value="Chest pain">Chest pain</option>
                  <option value="Shortness of breath">Shortness of breath</option>
                  <option value="Confusion">Confusion</option>
                  <option value="Hallucinations">Hallucinations</option>
                  <option value="Severe pain">Severe pain</option>
                  <option value="Paralysis">Paralysis</option>
              </select>
            </div>

            <div class="col-md-3">
              <select class="form-select border-dark selectors-font" id="condition" formControlName="Body_Condition">
                  <option value="" disabled selected>Body Condition</option>
                  <option value="Decomposed">Decomposed</option>
                  <option value="Intact">Intact</option>
                  <option value="Skeletal">Skeletal</option>
                  <option value="Burnt">Burnt</option>
                  <option value="Fresh">Fresh</option>
                  <option value="NORMAL">NORMAL</option>
                  <option value="UNSTABLE">UNSTABLE</option>
                  <option value="Stable">Stable</option>
                  <option value="Excess">Excess</option>
                  <option value="Underweight">Underweight</option>
              </select>
            </div>
            
  
            <!-- Birthmark -->
            <div class="col-md-6">
              <textarea type="text" class="form-control border-dark selectors-font" id="birthmark" formControlName="birth_mark" placeholder="Enter Birthmark Details"></textarea>
            </div>
  
            <!-- Distinctive Marks -->
            <div class="col-md-6">
              <textarea type="text" class="form-control border-dark selectors-font" id="distinctiveMarks" formControlName="distinctive_mark" placeholder="Enter Other Distinctive Marks"></textarea>
            </div>

            
  
            
          </div>
      </div>
  
      <!-- address table  -->
      <div class="card bg-light p-4 mb-3">
        <h5 class="header-bottom pb-2">Address Details</h5>
        <div formGroupName="addresses">

          <div class="row g-3">
            <!-- Address Fields -->
            <div class="col-md-6">
              <div class="row g-2">
                <div class="col-md-6">
                  <select class="form-control border-dark selectors-font" formControlName="type">
                    <option value="" disabled selected>Select Address Type</option>
                    <option value="PERMANENT">Permanent</option>
                    <option value="CURRENT">Current</option>
                    <option value="OLD">Old</option>
                    <option value="HOME">Home</option>
                    <option value="OFFICE">Office</option>
                  </select>
                </div>
                <div class="col-md-6"><input type="text" class="form-control border-dark selectors-font" formControlName="street" placeholder="Street"></div>
                <div class="col-md-6"><input type="text" class="form-control border-dark selectors-font" formControlName="appartment_no" placeholder="Apartment Number"></div>
                <div class="col-md-6"><input type="text" class="form-control border-dark selectors-font" formControlName="village" placeholder="Village"></div>
                <div class="col-md-6"><input type="text" class="form-control border-dark selectors-font" formControlName="city" placeholder="City"></div>
                <div class="col-md-6"><input type="text" class="form-control border-dark selectors-font" formControlName="district" placeholder="District"></div>
                <div class="col-md-6">
                  <select class="form-control border-dark selectors-font" formControlName="state">
                    <option value="" selected disabled>State</option>
                    <option *ngFor="let state of states" [value]="state">{{ state }}</option>
                  </select>
                </div>
                <div class="col-md-6"><input type="text" class="form-control border-dark selectors-font" formControlName="pincode" placeholder="Pincode"></div>
                <div class="col-md-6">
                  <select class="form-control border-dark selectors-font" formControlName="country">
                    <option value="" disabled selected>Country</option>
                    <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                  </select>
                </div>
                <div class="col-md-6"><textarea class="form-control border-dark selectors-font" formControlName="landmark_details" placeholder="Enter Landmark Details (e.g., Near Park)"></textarea></div>
                <button class="col-md-6" type="button" class="btn btn-outline-primary border-dark selectors-font custom-hover" (click)="addAddress()">Add Another Address</button>

              </div>
            </div>
            <!-- Right Side: Map & Get Location Button -->
            <div class="col-md-6">
              <div formGroupName="location">
                <label class="form-label selectors-font">Missing Person Home Location</label>
                <div id="mapHome" style="height: 180px; border: 1px solid black;"></div>
                <div class="d-flex gap-2 mt-3">
                  <button type="button" class="btn btn-outline-primary border-dark selectors-font custom-hover" (click)="getCurrentLocation()">
                    <i class="bi bi-geo-alt"></i> 
                  </button>
                  <input type="text" class="form-control border-dark selectors-font" formControlName="latitude" readonly placeholder="Latitude">    
                  <input type="text" class="form-control border-dark selectors-font" formControlName="longitude" readonly placeholder="Longitude">                </div>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Display Added Addresses in a Full-Width Row -->
      <div class="added-addresses-summary mt-3">
        <div *ngFor="let address of addedAddresses; let i = index" class="address-summary">
          <span class="address-title">
            <i class="bi bi-geo-alt-fill text-primary"></i>
            <strong>{{ address.type }}:</strong>
          </span>
          <span class="address-text">
            {{ address.street }}, {{ address.city }}, {{ address.state }} - {{ address.pincode }}
          </span>
          <span class="address-location">
            📍 <strong>Lat:</strong> {{ address.location.latitude }}, <strong>Long:</strong> {{ address.location.longitude }}
          </span>
          <button type="button" class="btn btn-danger remove-btn" (click)="removeAddress(i)">
            <i class="bi bi-trash"></i> Remove
          </button>
        </div>
      </div>
      </div>
    
  
      <!-- contact -->
      <div class="card bg-light p-4 mb-3">
        <div formArrayName="contacts">
          <h5 class="header-bottom pb-2">Contact Information</h5>
          <div *ngFor="let address of contacts.controls; let i = index" [formGroupName]="i" class="row g-3">

          <div class="row  g-3">
            <div class="col-md-3">
              <select class="form-select border-dark selectors-font" formControlName="type">
                <option value="" disabled selected>Type</option>
                <option value="Personal">Personal</option>
                <option value="Business">Business</option>
                <option value="Office">Office</option>
                <option value="Home">Home</option>
              </select>
            </div>
            <div class="col-md-3">
              <input type="text" class="form-control border-dark selectors-font" formControlName="phone_no" placeholder="Phone Number">
            </div>
            <div class="col-md-3">
              <input type="email" class="form-control border-dark selectors-font" formControlName="email_id" placeholder="Email">
            </div>
            
            <div class="col-md-3">
              <input type="text" class="form-control border-dark selectors-font" formControlName="company_name" placeholder="Company Name">
            </div>
            <div class="col-md-4">
              <input type="text" class="form-control border-dark selectors-font" formControlName="job_title" placeholder="Job Title">
            </div>
            <div class="col-md-4">
              <input type="url" class="form-control border-dark selectors-font" formControlName="website_url" placeholder="Website URL">
            </div>
            <div class="col-md-4">
              <select class="form-select border-dark selectors-font" formControlName="social_media_availability">
                <option value="" disabled selected>Select Social Media Platform</option>
                <option value="fb">Facebook</option>
                <option value="insta">Instagram</option>
                <option value="x">X (Twitter)</option>
                <option value="thread">Threads</option>
              </select>
            </div>
            
            <div class="col-md-4">
              <input type="text" class="form-control border-dark selectors-font" formControlName="social_media_url" placeholder="Social Media Url">
            </div>
            <div class="col-md-5">
              <input type="text" class="form-control border-dark selectors-font" formControlName="additional_details" placeholder="Additional Notes" />
            </div>
            <div class="col-md-3 d-flex align-items-center">
              <input type="checkbox" class="form-check-input border-dark me-2 selectors-font" formControlName="is_primary">
              <label class="form-label mb-0 selectors-font">Is Primary</label>
            </div>
        </div>
          </div>
        </div>
      </div>
  
      <!-- addtional -->
      <div class="card bg-light p-4 mb-3">
        <div formArrayName="additional_info">  
          <h5 class="header-bottom pb-2">Additional Information</h5>
          
          <div *ngFor="let info of additionalInfo.controls; let i = index" [formGroupName]="i" class="row g-3">
            <div class="row g-3">
              <!-- Caste -->
              <div class="col-md-3">
                <select class="form-select border-dark selectors-font" formControlName="caste">
                  <option value="" selected disabled>Caste</option>
                  <option value="Open">Open</option>
                  <option value="SC">SC</option>
                  <option value="ST">ST</option>
                  <option value="OBC">OBC</option>
                </select>
              </div>
              <div class="col-md-3">
                <select class="form-select border-dark selectors-font" formControlName="subcaste">
                  <option value="" disabled selected>Subcaste</option>
                  <option value="mahar">Mahar</option>
                  <option value="chambhar">Chambhar</option>
                  <option value="brahmin">Brahmin</option>
                  <option value="gurdian">Gurdian</option>
                  <option value="maratha">Maratha</option>
                  <option value="rajput">Rajput</option>
                  <option value="jain">Jain</option>
                  <option value="teli">Teli</option>
                  <option value="kumbhar">Kumbhar</option>
                </select>
              </div>
              
      
              <!-- Marital Status -->
              <div class="col-md-3">
                <select class="form-select border-dark selectors-font" formControlName="marital_status">
                  <option value="" disabled selected>Marital Status</option>
                  <option value="Single">Single</option>
                  <option value="Married">Married</option>
                  <option value="Divorced">Divorced</option>
                </select>
              </div>
      
              <!-- Religion -->
              <div class="col-md-3">
                <select class="form-select border-dark selectors-font" formControlName="religion">
                  <option value="" disabled selected>Religion</option>
                  <option value="Hindu">Hindu</option>
                  <option value="Muslim">Muslim</option>
                  <option value="Sikh">Sikh</option>
                  <option value="Christian">Christian</option>
                </select>
              </div>
      
              <!-- Mother Tongue -->
              <div class="col-md-3">
                <select class="form-select border-dark selectors-font" formControlName="mother_tongue">
                  <option value="" disabled selected>Mother Tongue</option>
                  <option value="Hindi">Hindi</option>
                  <option value="English">English</option>
                  <option value="Marathi">Marathi</option>
                </select>
              </div>
      
              <!-- Known Languages -->
              <div class="col-md-3">
                <input type="text" class="form-control border-dark selectors-font" formControlName="other_known_languages" placeholder="Enter Other Known Languages">
              </div>
      
              <!-- Identification Type -->
              <div class="col-md-3">
                <select class="form-select border-dark selectors-font" formControlName="id_type">
                  <option value="" disabled selected>Identification Type</option>
                  <option value="Aadhar Card">Aadhar Card</option>
                  <option value="Pan Card">Pan Card</option>
                  <option value="Driving License">Driving License</option>
                  <option value="Passport">Passport</option>
                  <option value="VoterID">VoterID</option>
                </select>
              </div>
      
              <!-- Identification Card Number -->
              <div class="col-md-3">
                <input type="text" class="form-control border-dark selectors-font" formControlName="id_no" placeholder="Enter Identification Card Number">
              </div>
      
              <!-- Educational Details -->
              <div class="col-md-6">
                <input type="text" class="form-control border-dark selectors-font" formControlName="education_details" placeholder="Enter Educational Details">
              </div>
      
              <!-- Occupation -->
              <div class="col-md-6">
                <input type="text" class="form-control border-dark selectors-font" formControlName="occupation_details" placeholder="Enter Occupation">
              </div>
      
            </div>
          </div>
        </div>
      </div>
      

  
      <!-- missig data -->
      <div class="card bg-light p-4 mb-3">
        <h5 class="header-bottom pb-2">Last Known Details</h5>
        <div formArrayName="last_known_details">
 
        <div *ngFor="let info of lastKnownDetails.controls; let i = index" [formGroupName]="i" class="row g-3">

        <div class="row">
          <!-- Left Side: All Fields -->
          <div class="col-md-12">
            <div class="row g-3">   
              <!-- Upload Person Photo -->
              <div class="col-md-6">
                <label class="form-label selectors-font">Upload Person Photo</label>
                <input type="file" class="form-control border-dark selectors-font" accept="image/*" (change)="onFileSelect($event, 'last_known_details', i, 'person_photo')">
              </div>
              <div class="col-md-6">
                <label class="form-label selectors-font">Upload Reference Photo</label>
                <input type="file" class="form-control border-dark selectors-font" accept="image/*" (change)="onFileSelect($event, 'last_known_details', i, 'reference_photo')">
              </div>
      
              <!-- Missing Time -->
              <div class="col-md-6">
                <label class="form-label selectors-font">Missing Time</label>
                <input type="time" class="form-control border-dark selectors-font" formControlName="missing_time">
              </div>
      
              <!-- Missing Date -->
              <div class="col-md-6">
                <label class="form-label selectors-font">Missing Date</label>
                <input type="date" class="form-control border-dark selectors-font" formControlName="missing_date">
              </div>
      
              <!-- Location Details -->
              <div class="col-md-6">
                <label class="form-label selectors-font">Location Details</label>
                <textarea type="text" class="form-control border-dark selectors-font" formControlName="missing_location_details" placeholder="Enter Location Details"></textarea>
              </div>
      
              <!-- Last Seen Location -->
              <div class="col-md-6">
                <label class="form-label selectors-font">Last seen details</label>
                <textarea class="form-control border-dark selectors-font" formControlName="last_seen_location" placeholder="Enter the Last Seen Location Details"></textarea>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
      </div>
      
      
      <!-- legal info -->
      <div class="card bg-light p-4 mb-3">
        <h5 class="header-bottom pb-2">FIR & Investigating Officer Details</h5>
        <div formArrayName="firs">
            <div *ngFor="let info of firs.controls; let i = index" [formGroupName]="i" class="row g-3">

        <div class="row g-3">
          <!-- FIR Number -->
          <div class="col-md-4">
            <label class="form-label selectors-font">FIR Number</label>
            <input type="text" class="form-control border-dark selectors-font" formControlName="fir_number" placeholder="Enter FIR Number">
          </div>
      
          <!-- Upload FIR Photo -->
          <div class="col-md-4">
            <label class="form-label selectors-font">Upload FIR Photo</label>
            <input type="file" class="form-control border-dark selectors-font" accept="image/*,application/pdf" (change)="onFileSelect($event, 'firs', i, 'fir_photo')">
          </div>
      
          <!-- Case Status -->
          <div class="col-md-4">
            <label class="form-label">Case Status</label>
            <select class="form-select border-dark selectors-font" formControlName="case_status">
              <option value="" selected>Case status</option>
              <option value="Open">Open</option>
              <option value="Resolved">Resolved</option>
              <option value="In Progress">In Progress</option>
              <option value="Closed">Closed</option>
              <option value="Reopened">Reopened</option>
              <option value="Pending">Pending</option>
              <option value="Found Alive">Found Alive</option>
              <option value="Deceased">Deceased</option>
            </select>
          </div>
      
          <!-- Police Station Name & Address -->
          <div class="col-md-4">
            <label class="form-label selectors-font">Police Station Name & Address</label>
            <input type="text" class="form-control border-dark selectors-font" formControlName="police_station" placeholder="Enter Police Station Details">
          </div>
      
          <!-- Investigating Officer Name -->
          <div class="col-md-4">
            <label class="form-label selectors-font">Investigating Officer's Name</label>
            <input type="text" class="form-control border-dark selectors-font" formControlName="investigation_officer_name" placeholder="Enter Officer's Name">
          </div>
      
          <!-- Investigating Officer Contact -->
          <div class="col-md-4">
            <label class="form-label selectors-font">Investigating Officer's Contact Number</label>
            <input type="text" class="form-control border-dark selectors-font" formControlName="investigation_officer_contact" placeholder="Enter Contact Number">
          </div>
        </div>
            </div>
      </div>
      </div>
  
      
      <!-- consent -->
      <div class="card bg-light p-4 mb-3">
        <h5 class="header-bottom pb-2">Consent & Submission</h5>  
      
        <div formArrayName="consent">
          <div *ngFor="let info of consent.controls; let i = index" [formGroupName]="i" class="row g-3">
            
            <!-- Consent Data -->
            <div class="col-md-6">
              <label class="form-label selectors-font">Data</label>
              <textarea class="form-control border-dark selectors-font" formControlName="data" placeholder="Enter Summary"></textarea>
            </div>
      
            <!-- Document Upload -->
            <div class="col-md-6">
              <label class="form-label selectors-font">Upload Document</label>
              <input type="file" class="form-control border-dark selectors-font" (change)="onFileSelect($event, 'consent', i, 'document')">
              <small class="text-muted">Allowed formats: PDF, JPG, PNG</small>
            </div>
      
            <!-- Consent Checkbox -->
            <div class="col-md-12 d-flex align-items-center">
              <input type="checkbox" class="form-check-input me-2" [id]="'consentCheckbox' + i" formControlName="is_consent">
              <label class="form-check-label selectors-font" [for]="'consentCheckbox' + i">
                I hereby declare that the information provided in this report is true and accurate to the best of my knowledge.
                I consent to the use of this information for the purpose of locating the missing person.
              </label>
            </div>
      
            <!-- Remove Consent Button -->
            <!-- <div class="col-md-12">
              <button type="button" class="btn btn-danger" (click)="removeConsent(i)">
                <i class="bi bi-trash"></i> Remove
              </button>
            </div> -->
      
          </div>  
        </div>
      
        <!-- Add Consent Button -->
        <!-- <div class="mt-3">
          <button type="button" class="btn btn-primary" (click)="addConsent()">
            <i class="bi bi-plus-circle"></i> Add Consent
          </button>
        </div> -->
      
      </div>
      
      
      <button class="btn btn-success w-20 custom-hover selectors-font">SUBMIT REPORT</button>
    </form>
  </div>
  