<mat-card class="container-fluid px-4 py-3  m-1" style="max-width: 100%; overflow-x: hidden;">
  
  <div class="p-3 bg-light-primary text-center rounded ">
    <h5>Hospital Details</h5>
  </div>
  <form [formGroup]="hospitalForm" (ngSubmit)="submitForm()">
    
    <!-- Hospital Information Section -->
    <section>
      <div class="row mb-1 mt-2">
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Hospital Name</mat-label>
            <input matInput formControlName="name" placeholder="Enter hospital name" type="text" />
            <mat-error *ngIf="hospitalForm.get('name')?.hasError('required')">Hospital name is required.</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <!-- <mat-label>Type</mat-label> -->
            <mat-select formControlName="type">
              <mat-option value="">Select Type</mat-option>
              <mat-option value="gvt">Government</mat-option>
              <mat-option value="nongvt">Non-Government</mat-option>
            </mat-select>
            <mat-error *ngIf="hospitalForm.get('type')?.hasError('required')">Hospital type is required.</mat-error>

          </mat-form-field>
        </div>
          <div class="col-md-4">
            <input type="file" (change)="onFileChange($event)" class="form-control mt-1" />
            <mat-error *ngIf="hospitalForm.get('hospital_photo')?.hasError('required')">Hospital image is required.</mat-error>
          </div>
       
      </div>

      
    </section>
    
    <!-- Address Section -->
    <section>
      <div class="p-3 bg-light-primary text-center rounded ">
        <h5>Hospital Address Details</h5>
      </div>
      <div formGroupName="address" class="mt-3">
        <div class="row mb-3">
          <!-- All form fields on the left side -->
          <div class="col-md-6">
            <div class="row mb-3">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Address Type</mat-label>
                  <mat-select formControlName="address_type">
                    <mat-option value="PERMANENT">Permanent</mat-option>
                    <mat-option value="CURRENT">Current</mat-option>
                    <mat-option value="OLD">Old</mat-option>
                    <mat-option value="HOME">Home</mat-option>
                    <mat-option value="OFFICE">Office</mat-option>
                  </mat-select>
                  <mat-error *ngIf="hospitalForm.get('address.address_type')?.hasError('required')">
                    Address type is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Street</mat-label>
                  <input matInput formControlName="street" type="text" />
                  <mat-error *ngIf="hospitalForm.get('address.street')?.hasError('required')">
                    Street is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
    
            <div class="row mb-3">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Apartment No.</mat-label>
                  <input matInput formControlName="appartment_no" type="number"/>
                  <mat-error *ngIf="hospitalForm.get('address.appartment_no')?.hasError('required')">
                    Apartment No. is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Apartment Name</mat-label>
                  <input matInput formControlName="appartment_name" type="text" />
                  <mat-error *ngIf="hospitalForm.get('address.appartment_name')?.hasError('required')">
                    Apartment Name is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
    
            <div class="row mb-3">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Village</mat-label>
                  <input matInput formControlName="village" type="text" />
                  <mat-error *ngIf="hospitalForm.get('address.village')?.hasError('required')">
                    Village is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="city" type="text" />
                  <mat-error *ngIf="hospitalForm.get('address.city')?.hasError('required')">
                    City is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
    
            <div class="row mb-3">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>District</mat-label>
                  <input matInput formControlName="district" type="text" />
                  <mat-error *ngIf="hospitalForm.get('address.district')?.hasError('required')">
                    District is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>State</mat-label>
                  <mat-select formControlName="state">
                    <mat-option *ngFor="let state of states" [value]="state">{{ state }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="hospitalForm.get('address.state')?.hasError('required')">
                    State is required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
    
            <div class="row mb-3">
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Country</mat-label>
                  <mat-select formControlName="country">
                    <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="hospitalForm.get('address.country')?.hasError('required')">
                    Country is required.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Pincode</mat-label>
                  <input matInput formControlName="pincode" type="number" />
                  <mat-error *ngIf="hospitalForm.get('address.pincode')?.hasError('required')">
                    Pincode is required.
                  </mat-error>
                  <mat-error *ngIf="hospitalForm.get('address.pincode')?.hasError('pattern')">
                    Pincode must be a valid 6-digit number.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
    
            <div class="row mb-3">
              <div class="col-md-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Landmark Details</mat-label>
                  <input matInput formControlName="landmark_details" type="text" />
                  <mat-error *ngIf="hospitalForm.get('address.landmark_details')?.hasError('required')">
                    Landmark details are required.
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
    
          <!-- Map and Location details on the right side -->
          <div class="col-md-6">
            <section>
              <div formGroupName="location">
                <div class="row mb-3">
                  <div class="col-md-12">
                    <!-- Map Section -->
                    <div id="mapAddHospital" style="height: 330px; border: 1px solid black;z-index: 1;"></div>
                  </div>
                </div>
          
                <!-- Row for Get Current Location, Latitude, and Longitude -->
                <div class="row mb-3 align-items-center">
                  <!-- Location Button -->
                  <div class="col-md-4">
                    <div class="d-flex align-items-center h-100">
                      <button
                        type="button"
                        mat-flat-button
                        color="primary"
                        class="w-100"
                        (click)="getCurrentLocation()"
                      >
                        <mat-icon>my_location</mat-icon>
                      </button>
                    </div>
                  </div>
                
                  <!-- Latitude -->
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Latitude</mat-label>
                      <input matInput formControlName="latitude" readonly />
                      <mat-error *ngIf="hospitalForm.get('address.location.latitude')?.hasError('required')">
                        Latitude is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                
                  <!-- Longitude -->
                  <div class="col-md-4">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Longitude</mat-label>
                      <input matInput formControlName="longitude" readonly />
                      <mat-error *ngIf="hospitalForm.get('address.location.longitude')?.hasError('required')">
                        Longitude is required.
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                
              </div>
            </section>
          </div>
          
        </div>
      </div>
    </section>


    <!-- Contact Details Section -->
    <div class="mt-2 ">
      <div class="p-3 bg-light-primary text-center rounded ">
        <h5>Hospital contacts Details</h5>
      </div>
      <div formArrayName="hospital_contact">
        <div *ngFor="let contact of contacts.controls; let i = index" [formGroupName]="i" class="p-2 mt-2 mb-3 rounded">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contact Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option value="personal">Personal</mat-option>
                  <mat-option value="office">Office</mat-option>
                  <mat-option value="home">Home</mat-option>
                </mat-select>
                <mat-error *ngIf="contact.get('type')?.hasError('required')">
                  Contact type is required.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Phone No</mat-label>
                <input matInput formControlName="phone_no" type="number"/>
                <mat-error *ngIf="contact.get('phone_no')?.hasError('required')">
                  Phone number is required.
                </mat-error>
                <mat-error *ngIf="contact.get('phone_no')?.hasError('pattern')">
                  Enter a valid phone number.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Country Code</mat-label>
                <input matInput formControlName="country_cd" type="number" />
                <mat-error *ngIf="contact.get('country_cd')?.hasError('required')">
                  Country code is required.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
    
          <div class="row">
           
            <!-- <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Company</mat-label>
                <input matInput formControlName="company_name" type="text" />
                <mat-error *ngIf="contact.get('company_name')?.hasError('maxlength')">
                  Company name must be under 100 characters.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Job Title</mat-label>
                <input matInput formControlName="job_title" type="text" />
                <mat-error *ngIf="contact.get('job_title')?.hasError('maxlength')">
                  Job title must be under 100 characters.
                </mat-error>
              </mat-form-field>
            </div> -->
          </div>
    
          <div class="row">
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email_id" type="email" />
                <mat-error *ngIf="contact.get('email_id')?.hasError('email')">
                  Enter a valid email address.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Website</mat-label>
                <input matInput formControlName="website_url" type="text" />
                <mat-error *ngIf="contact.get('website_url')?.hasError('pattern')">
                  Enter a valid URL.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Social Media</mat-label>
                <input matInput formControlName="social_media_url" type="text" />
                <mat-error *ngIf="contact.get('social_media_url')?.hasError('pattern')">
                  Enter a valid social media link.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3 d-flex align-items-center">
              <mat-checkbox formControlName="is_primary">Primary Contact</mat-checkbox>
            </div>
          </div>
    
          <div class="text-end">
            <button type="button" mat-flat-button color="warn" (click)="removeContact(i)" *ngIf="contacts.length > 1">
              Remove
            </button>
          </div>
        </div>
    
        <div *ngIf="savedContacts.length > 0">
          <h6>Added Contacts:</h6>
          <div *ngFor="let contact of savedContacts; let i = index" class="d-flex flex-wrap border p-2 mb-2 rounded bg-light align-items-center">
            <!-- Delete Icon Button -->
            <button mat-icon-button type="button" color="warn" (click)="removeSavedContact(i)" class="me-3">
              <mat-icon>delete</mat-icon>
            </button>
        
            <!-- Contact Info -->
            <div class="contact-info">
              <div class="contact-item">
                <strong>Type:</strong> {{ contact.type }}
              </div>
              <div class="contact-item">
                <strong>Phone:</strong> {{ contact.phone_no }}
              </div>
              <div class="contact-item">
                <strong>Country:</strong> {{ contact.country_cd }}
              </div>
              <div class="contact-item">
                <strong>Email:</strong> {{ contact.email_id }}
              </div>
              <!-- Add more fields as required -->
            </div>
          </div>
        </div>
        
      </div>
    
      <!-- Add Contact aligned to the right -->
      <div class="text-end m-2">
        <button type="button" mat-flat-button color="accent" (click)="addContact()">Add Contact</button>
      </div>
    </div>
    
    

    <!-- Submit Button -->
    <section class="mt-4 text-start">
      <button mat-stroked-button color="primary" type="submit">Submit</button>
    </section>
  </form>
</mat-card>
