.full-width {
    width: 100%;
  }
  .hospital-form {
    max-width: 900px;
    margin: 0 auto;
  }
  .contact-group {
    margin-bottom: 20px;
    padding: 16px;
    // border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .text-muted {
    color: var(--mat-text-color) !important;
  }