.select-all-container {
  margin-bottom: 20px;

  .select-action-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .select-box {
    flex: 1;
    min-width: 250px;
  }

  .action-buttons {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;


    button {
      height: 42px;
      white-space: nowrap;
      margin-top: 10px;

      &[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }
}

.reject-button {
  color: #f44336;
  border-color: #f44336;
  
  &[disabled] {
    color: #979595;
    border-color: #ffcdd2;
  }
}

.approval-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h2 {
    margin: 0;
    font-weight: 500;
  }
}

.view-options {
  margin: 20px 0;
  
  button {
    margin-right: 10px;
  }
}

.select-all-container {
  margin-bottom: 20px;
}

.name-cell {
  .name {
    font-weight: 500;
  }
  .details {
    font-size: 0.8em;
    color: #666;
    display: flex;
    gap: 10px;
    margin-top: 4px;
  }
}

.status-badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 0.8em;
  font-weight: 500;
  
  &.pending,&.suspended,&.hold,&.approved {
    background-color: #FFF3E0;
    color: #E65100;
  }
}

table {
  width: 100%;
  margin-top: 20px;
  
  th {
    font-weight: 600;
    color: #333;
    background-color: #f5f5f5;
  }

  td, th {
    padding: 12px 16px;
  }
}

.loading-spinner {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.mat-mdc-icon-button {
  margin: 0 4px;
}

.reject-button {
  background-color: #f44336;
  color: white;
  
  &[disabled] {
    background-color: #ffcdd2;
  }
  .mat-tooltip {
    font-size: 13px;
    background-color: #424242;
  }
  
}


.table-wrapper {
  max-height: 400px; /* Set this based on your requirement */
  overflow-y: auto;  /* Allows vertical scrolling */
}

th.mat-header-cell {
  position: sticky;
  top: 0;
  background-color: #fff; /* Ensures the header doesn't overlap with table data */
  z-index: 1; /* Ensures header is above the table body */
}

table {
  width: 100%;
}