<div class="container-fluid">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="height: 40px;">
    <div class="container-fluid d-flex justify-content-between align-items-center" style="height: 100%;">
      <div class="d-flex justify-content-center w-100">
        <a class="navbar-brand text-primary" 
          style="font-family: 'Poppins', sans-serif; font-size: 30px; font-weight: 500; letter-spacing: 1px;">
          <strong>CHHAYA FOUNDATION</strong>

        </a>

      </div>
      <button class="btn btn-primary" (click)="openModal()">Filtered Data</button>

      <a class="ms-3" (click)="onNavigate()" style="cursor: pointer;">
        <i class="fas fa-user" style="font-size: 24px; color: #007bff;"></i>
      </a>
    </div>
    
  </nav>

  <div *ngIf="isLoading" class="loader-overlay">
    <div class="loader"></div>
  </div>

  <!-- Cards Section -->
  <div class="row text-center mt-4">
    <!-- Card 1 -->
    <div class="col-md-2 mb-4">
      <div class="custom-card bg-gradient-primary">
        <div class="custom-card-body">
          <h5 class="custom-card-title">{{missingpersonscount}}</h5>
          <p class="custom-card-text">Missing Persons</p>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-2 mb-4">
      <div class="custom-card bg-gradient-primary">
        <div class="custom-card-body">
          <h5 class="custom-card-title">{{unidentifiedpersonscount}}</h5>
          <p class="custom-card-text">Unidentified Persons</p>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="col-md-2 mb-4">
      <div class="custom-card bg-gradient-primary">
        <div class="custom-card-body">
          <h5 class="custom-card-title">{{unidentifiedbodiescount}}</h5>
          <p class="custom-card-text">Unidentified Bodies</p>
        </div>
      </div>
    </div>

    <!-- Card 4 -->
    <div class="col-md-2 mb-4">
      <div class="custom-card bg-gradient-primary">
        <div class="custom-card-body">
          <h5 class="custom-card-title">685</h5>
          <p class="custom-card-text">Pending Cases</p>
        </div>
      </div>
    </div>

    <!-- Card 5 -->
    <div class="col-md-2 mb-4">
      <div class="custom-card bg-gradient-primary">
        <div class="custom-card-body text-center">
          <p class="custom-card-title">Found Alive: 300<br>Deceased: 500</p>
          <h5 class="custom-card-text mt-3">Resolved Cases</h5>
        </div>
      </div>
    </div>

    <!-- Card 6 -->
    <div class="col-md-2 mb-4">
      <div class="custom-card bg-gradient-primary">
        <div class="custom-card-body text-center">
          <p class="custom-card-title">
            <ng-container *ngFor="let gender of missingPersonGenderCounts | keyvalue">
              <span *ngIf="gender.key === 'Male'">Male: {{gender.value}}<br></span>
              <span *ngIf="gender.key === 'Female'">Female: {{gender.value}}<br></span>
              <span *ngIf="gender.key === 'Other'">Other: {{gender.value}}<br></span>
            </ng-container>
          </p>
          <h5 class="custom-card-text mt-3">Missing by Gender</h5>
        </div>
      </div>
    </div>

  </div>


  <div class="row ">
    <!-- Right Side (High Priority Missing Persons) -->
    <div class="col-md-4">
      <div class="card shadow-sm">
        <div class="card-header bg-danger text-white text-center py-2">
          <h5 class="mb-0"><i class="fas fa-exclamation-circle"></i> Filterd Data</h5>
        </div>
        <div class="card-body" style="background-color: #f8f9fa;">
          <!-- Tabs Navigation -->
          <ul class="nav nav-tabs" id="dataTabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="missing-tab" data-bs-toggle="tab" data-bs-target="#missing"
                type="button" role="tab" aria-controls="missing" aria-selected="true">
                Missing P
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="unidentified-persons-tab" data-bs-toggle="tab"
                data-bs-target="#unidentified-persons" type="button" role="tab" aria-controls="unidentified-persons"
                aria-selected="false">
                Unidentified P
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="unidentified-bodies-tab" data-bs-toggle="tab"
                data-bs-target="#unidentified-bodies" type="button" role="tab" aria-controls="unidentified-bodies"
                aria-selected="false">
                Unidentified Body
              </button>
            </li>
          </ul>

          <!-- Tabs Content -->
          <div class="tab-content mt-4" id="dataTabsContent">
            <!-- Missing Persons Tab -->
            <div class="tab-pane fade show active" id="missing" role="tabpanel" aria-labelledby="missing-tab">
              <div class="border rounded p-3" style="background: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <h6 class="text-primary text-center"><strong>Active Filters</strong></h6>
                <div class="d-flex justify-content-between text-center mb-4">
                  <div>
                    <h6 class="text-primary"><strong>State</strong></h6>
                    <p class="small text-secondary mb-0">{{ state || 'Not selected' }}</p>
                  </div>
                  <div>
                    <h6 class="text-primary"><strong>District</strong></h6>
                    <p class="small text-secondary mb-0">{{ district || 'Not selected' }}</p>
                  </div>
                  <div>
                    <h6 class="text-primary"><strong>City</strong></h6>
                    <p class="small text-secondary mb-0">{{ city || 'Not selected' }}</p>
                  </div>
                  <div>
                    <h6 class="text-primary"><strong>Police Station</strong></h6>
                    <p class="small text-secondary mb-0">{{ policeStationId || 'Not selected' }}</p>
                  </div>
                </div>
                <h6 class="text-dark mb-3 text-center">Total Missing Persons: <strong class="text-danger">{{
                    missingPersontotalcount }}</strong></h6>
                <div class="d-flex justify-content-around">
                  <div>
                    <h6 class="text-info mb-1"><i class="fas fa-male"></i> Male</h6>
                    <p class="mb-0">{{ missingPersonGenderCountss.Male }}</p>
                  </div>
                  <div>
                    <h6 class="text-pink mb-1"><i class="fas fa-female"></i> Female</h6>
                    <p class="mb-0">{{ missingPersonGenderCountss.Female }}</p>
                  </div>
                  <div>
                    <h6 class="text-muted mb-1"><i class="fas fa-genderless"></i> Other</h6>
                    <p class="mb-0">{{ missingPersonGenderCountss.Other }}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unidentified Persons Tab -->
            <div class="tab-pane fade" id="unidentified-persons" role="tabpanel"
              aria-labelledby="unidentified-persons-tab">
              <div class="border rounded p-3" style="background: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <h6 class="text-primary text-center"><strong>Active Filters</strong></h6>
                <div class="d-flex justify-content-between text-center mb-4">
                  <div>
                    <h6 class="text-primary"><strong>State</strong></h6>
                    <p class="small text-secondary mb-0">{{ state || 'Not selected' }}</p>
                  </div>
                  <div>
                    <h6 class="text-primary"><strong>District</strong></h6>
                    <p class="small text-secondary mb-0">{{ district || 'Not selected' }}</p>
                  </div>
                  <div>
                    <h6 class="text-primary"><strong>City</strong></h6>
                    <p class="small text-secondary mb-0">{{ city || 'Not selected' }}</p>
                  </div>
                  <div>
                    <h6 class="text-primary"><strong>Police Station</strong></h6>
                    <p class="small text-secondary mb-0">{{ policeStationId || 'Not selected' }}</p>
                  </div>
                </div>
                <h6 class="text-dark mb-3 text-center">Total Unidentified Persons: <strong class="text-danger">{{
                    unidentifiedPersonTotalCounts }}</strong></h6>
                <div class="d-flex justify-content-around">
                  <div>
                    <h6 class="text-info mb-1"><i class="fas fa-male"></i> Male</h6>
                    <p class="mb-0">{{ unidentifiedPersonGenderCounts.Male }}</p>
                  </div>
                  <div>
                    <h6 class="text-pink mb-1"><i class="fas fa-female"></i> Female</h6>
                    <p class="mb-0">{{ unidentifiedPersonGenderCounts.Female }}</p>
                  </div>
                  <div>
                    <h6 class="text-muted mb-1"><i class="fas fa-genderless"></i> Other</h6>
                    <p class="mb-0">{{ unidentifiedPersonGenderCounts.Other }}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- Unidentified Bodies Tab -->
            <div class="tab-pane fade" id="unidentified-bodies" role="tabpanel"
              aria-labelledby="unidentified-bodies-tab">
              <div class="border rounded p-3" style="background: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <h6 class="text-primary text-center"><strong>Active Filters</strong></h6>
                <div class="d-flex justify-content-between text-center mb-4">
                  <div>
                    <h6 class="text-primary"><strong>State</strong></h6>
                    <p class="small text-secondary mb-0">{{ state || 'Not selected' }}</p>
                  </div>
                  <div>
                    <h6 class="text-primary"><strong>District</strong></h6>
                    <p class="small text-secondary mb-0">{{ district || 'Not selected' }}</p>
                  </div>
                  <div>
                    <h6 class="text-primary"><strong>City</strong></h6>
                    <p class="small text-secondary mb-0">{{ city || 'Not selected' }}</p>
                  </div>
                  <div>
                    <h6 class="text-primary"><strong>Police Station</strong></h6>
                    <p class="small text-secondary mb-0">{{ policeStationId || 'Not selected' }}</p>
                  </div>
                </div>
                <h6 class="text-dark mb-3 text-center">Total Unidentified Bodies: <strong class="text-danger">{{
                    unidentifiedBodyTotalCount }}</strong></h6>
                <div class="d-flex justify-content-around">
                  <div>
                    <h6 class="text-info mb-1"><i class="fas fa-male"></i> Male</h6>
                    <p class="mb-0">{{ unidentifiedBodyGenderCounts.Male }}</p>
                  </div>
                  <div>
                    <h6 class="text-pink mb-1"><i class="fas fa-female"></i> Female</h6>
                    <p class="mb-0">{{ unidentifiedBodyGenderCounts.Female }}</p>
                  </div>
                  <div>
                    <h6 class="text-muted mb-1"><i class="fas fa-genderless"></i> Other</h6>
                    <p class="mb-0">{{ unidentifiedBodyGenderCounts.Other }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Recent Missing Persons -->
      <div class="card mt-2">
        <div class="card-header bg-gradient-primary text-white text-center py-2">
          <h5><i class="fas fa-clock"></i> Recent Cases</h5>
        </div>
        <div class="card-body p-0" style="background-color: #ffffff;">
          <!-- Navigation Tabs -->
          <ul class="nav nav-tabs" id="caseTabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="missing-person-tab" data-bs-toggle="tab"
                data-bs-target="#missing-person" type="button" role="tab" aria-controls="missing-person"
                aria-selected="true">
                Missing Person
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="unidentified-person-tab" data-bs-toggle="tab"
                data-bs-target="#unidentified-person" type="button" role="tab" aria-controls="unidentified-person"
                aria-selected="false">
                Unidentified Person
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="unidentified-body-tab" data-bs-toggle="tab"
                data-bs-target="#unidentified-body" type="button" role="tab" aria-controls="unidentified-body"
                aria-selected="false">
                Unidentified Body
              </button>
            </li>
          </ul>

          <!-- Tab Content -->
          <div class="tab-content" id="caseTabsContent">
            <!-- Missing Person Tab -->
            <div class="tab-pane fade show active" id="missing-person" role="tabpanel"
              aria-labelledby="missing-person-tab">
              <table class="table table-striped table-hover mb-0">
                <thead class="bg-dark text-white">
                  <tr>
                    <th class="py-2 px-3">Name</th>
                    <th class="py-2 px-3">Age</th>
                    <th class="py-2 px-3">Gender</th>
                    <th class="py-2 px-3">City</th>
                    <th class="py-2 px-3">Photo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of allmissingperson | slice:0:3">
                    <td class="py-2 px-3"><span class="font-weight-bold">{{ person.full_name }}</span></td>
                    <td class="py-2 px-3">{{ person.age }}</td>
                    <td class="py-2 px-3">{{ person.gender }}</td>
                    <td class="py-2 px-3">{{ person.address.city }}</td>
                    <td class="py-2 px-3">
                      <img
                        [src]="person.photo_upload ? (environment.apiUrl + person.photo_upload) : 'assets/images/pngwing.com.png'"
                        alt="Person Photo" class="img-fluid rounded hover-image">
                    </td>
                  </tr>
                </tbody>

              </table>
            </div>

            <!-- Unidentified Person Tab -->
            <div class="tab-pane fade" id="unidentified-person" role="tabpanel"
              aria-labelledby="unidentified-person-tab">
              <table class="table table-striped table-hover mb-0">
                <thead class="bg-dark text-white">
                  <tr>
                    <th class="py-2 px-1">Case ID</th>
                    <th class="py-2 px-2">Estimated Age</th>
                    <th class="py-2 px-3">Gender</th>
                    <th class="py-2 px-3">Last Seen date</th>
                    <th class="py-2 px-3">City</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let person of allunidentifiedperson | slice:0:3">
                    <td class="py-2 px-1">{{ person.id }}</td>
                    <td class="py-2 px-2">{{ person.estimated_age }}</td>
                    <td class="py-2 px-3">{{ person.gender }}</td>
                    <td class="py-2 px-3">{{ person.last_seen_date }}</td>
                    <td class="py-2 px-3">{{ person.address.city }}</td>
                  </tr>
                </tbody>

              </table>
            </div>

            <!-- Unidentified Body Tab -->
            <div class="tab-pane fade" id="unidentified-body" role="tabpanel" aria-labelledby="unidentified-body-tab">
              <table class="table table-striped table-hover mb-0">
                <thead class="bg-dark text-white">
                  <tr>
                    <th class="py-2 px-3">Case ID</th>
                    <th class="py-2 px-3">Estimated Age</th>
                    <th class="py-2 px-3">Gender</th>
                    <th class="py-2 px-3">Found Date</th>
                    <th class="py-2 px-3">Found city</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let body of allunidentiedbodies | slice:0:3">
                    <td class="py-2 px-3">{{ body.id }}</td>
                    <td class="py-2 px-3">{{ body.estimated_age }}</td>
                    <td class="py-2 px-3">{{ body.gender }}</td>
                    <td class="py-2 px-3">{{ body.date_found }}</td>
                    <td class="py-2 px-3">{{ body.address.city }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Map and Filter Section -->
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <!-- State Dropdown -->
            <div class="col-md-3">
              <!-- <label for="state" class="form-label me-2">State</label> -->
              <select id="state" class="form-select" [(ngModel)]="selectedState" (change)="filterDataByFilters()">
                <option value="All States">All States</option>
                <option *ngFor="let state of allstates" [value]="state">{{ state }}</option>
              </select>
            </div>

            <!-- District Dropdown -->
            <div class="col-md-2">
              <!-- <label for="district" class="form-label me-2">District</label> -->
              <select id="district" class="form-select" [(ngModel)]="selectedDistrict" (change)="filterDataByFilters()">
                <option value="All Districts">All Districts</option>
                <option *ngFor="let district of alldistricts" [value]="district">{{ district }}</option>
              </select>
            </div>

            <!-- City Dropdown -->
            <div class="col-md-2">
              <!-- <label for="city" class="form-label me-2">City</label> -->
              <select id="city" class="form-select" [(ngModel)]="selectedCity" (change)="filterDataByFilters()">
                <option value="All Cities">All Cities</option>
                <option *ngFor="let city of allcities" [value]="city">{{ city }}</option>
              </select>
            </div>

            <!-- all villages -->
            <div class="col-md-2">
              <select id="village" class="form-select" [(ngModel)]="selectedVillage" (change)="filterDataByFilters()">
                <option value="All Villages"> All Village</option>
                <option *ngFor="let village of allVillages" [value]="village">{{ village }}</option>
              </select>
            </div>

            <!-- Police Station Dropdown -->
            <div class="col-md-3">
              <!-- <label for="policeStation" class="form-label me-2">Police Station</label> -->
              <select id="policeStation" class="form-select" [(ngModel)]="selectedPoliceStation"
                (change)="filterDataByFilters()">
                <option value="All Police Stations">All Police Stations</option>
                <option *ngFor="let station of allpolicestations" [value]="station.id">{{ station.name }}</option>
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-2">
              <select id="gender" class="form-select" [(ngModel)]="selectedgender" (change)="filterDataByFilters()">
                <option value="All Genders">All Gender</option>
                <option *ngFor="let gender of allgenders" [value]="gender">{{ gender }}</option>
              </select>
            </div>

            <!-- District Dropdown -->
            <div class="col-md-2">
              <select id="bloodGroup" class="form-select" [(ngModel)]="selectedBloodGroup" (change)="filterDataByFilters()">
                <option value="All Blood Groups">All Blood Groups</option>
                <option *ngFor="let bloodGroup of allBloodGroups" [value]="bloodGroup">{{ bloodGroup }}</option>
              </select>
            </div>

             <div class="col-md-2">
              <!-- <label for="heightRange">Select Height Range:</label> -->
                <select for="heightRange" class="form-select" [(ngModel)]="selectedHeightRange" (change)="filterDataByFilters()">
                  <option value="All Heights">All Heights</option>
                  <option value="133-150">133-150 cm</option>
                  <option value="151-180">151-180 cm</option>
                  <option value="Above 180">Above 180 cm</option>
                </select>
            </div> 

            
            <div class="col-md-2">
              <select for="weightRange" class="form-select"[(ngModel)]="selectedWeightRange" (change)="filterDataByFilters()">
                <option value="All Weights">All Weights</option>
                <option value="0-50">0-50 kg</option>
                <option value="51-70">51-70 kg</option>
                <option value="Above 70">Above 70 kg</option>
              </select>
            </div>
            <div class="col-md-2">
              <select for="AgeRange" class="form-select"[(ngModel)]="selectedAgeRange" (change)="filterDataByFilters()">
                <option value="All Ages">All Ages</option>
                <option value="0-18">0-18</option>
                <option value="18-30">18-30</option>
                <option value="30-50">30-50</option>
                <option value="50-70">50-70</option>
                <option value="Above 70">Above 70</option>
              </select>
            </div>
            <div class="col-md-2">
              <select for="Marital" class="form-select"[(ngModel)]="selectedmarital" (change)="filterDataByFilters()">
                <option value="Marital status">Marital status</option>
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Widowed">Widowed</option>
              </select>
            </div>
          </div>

          <!-- Leaflet Map -->
          <div id="map" style="height: 590px; border: 1px solid #ddd; border-radius: 5px;"></div>
        </div>
      </div>
    </div>

  </div>

</div>

<!-- Modal for Displaying Filtered Missing Persons -->
<div class="modal" tabindex="-1" id="filteredDataModal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content rounded-3 shadow-lg">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-primary fw-bold">Filtered Persons</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body px-4 py-4">
        <!-- Tab navigation -->
        <ul class="nav nav-tabs mb-4" id="filteredTab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="missingss-tab" data-bs-toggle="tab" href="#missingss" role="tab" aria-controls="missing" aria-selected="true">
              <i class="bi bi-person-bounding-box me-2"></i>Missing Persons
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="unidentifiedss-tab" data-bs-toggle="tab" href="#unidentifiedss" role="tab" aria-controls="unidentified" aria-selected="false">
              <i class="bi bi-person-lines-fill me-2"></i>Unidentified Persons
            </a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="bodiessss-tab" data-bs-toggle="tab" href="#bodiessss" role="tab" aria-controls="bodies" aria-selected="false">
              <i class="bi bi-person-x-fill me-2"></i>Unidentified Bodies
            </a>
          </li>
        </ul>

        <!-- Tab content -->
        <div class="tab-content" id="filteredTabContent">
          
          <!-- Missing Persons Tab -->
          <div class="tab-pane fade show active" id="missingss" role="tabpanel" aria-labelledby="missingss-tab">
            <div class="row">
              <div *ngFor="let person of filteredMissingPersonssss" class="col-md-4 mb-4">
                <div class="card shadow-sm border-light rounded-3">
                  <img [src]="person.photo_upload ? (environment.apiUrl + person.photo_upload) : 'assets/images/pngwing.com.png'" alt="Person Photo" class="img-fluid rounded-top">
                  <div class="card-body p-3">
                    <h5 class="card-title fs-5 text-dark">{{ person.full_name || 'Unknown' }}</h5>
                    <p class="card-text text-muted mb-1">Gender: <strong>{{ person.gender || 'Not specified' }}</strong></p>
                    <p class="card-text text-muted mb-1">Age: <strong>{{ person.age || 'Not specified' }}</strong></p>
                    <p class="card-text text-muted">Location: <strong>{{ person.location_metadata || 'Not specified' }}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Unidentified Persons Tab -->
          <div class="tab-pane fade" id="unidentifiedss" role="tabpanel" aria-labelledby="unidentifiedss-tab">
            <div class="row">
              <div *ngFor="let person of filteredUnidentifiedPersonssss" class="col-md-4 mb-4">
                <div class="card shadow-sm border-light rounded-3">
                  <img [src]="person.photo_upload ? (environment.apiUrl + person.photo_upload) : 'assets/images/pngwing.com.png'" alt="Person Photo" class="img-fluid rounded-top">
                  <div class="card-body p-3">
                    <h5 class="card-title fs-5 text-dark">{{ person.full_name || 'Unknown' }}</h5>
                    <p class="card-text text-muted mb-1">Gender: <strong>{{ person.gender || 'Not specified' }}</strong></p>
                    <p class="card-text text-muted mb-1">Age: <strong>{{ person.age || 'Not specified' }}</strong></p>
                    <p class="card-text text-muted">Location: <strong>{{ person.location_metadata || 'Not specified' }}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Unidentified Bodies Tab -->
          <div class="tab-pane fade" id="bodiessss" role="tabpanel" aria-labelledby="bodiessss-tab">
            <div class="row">
              <div *ngFor="let body of filteredunidentifiedboidessss" class="col-md-4 mb-4">
                <div class="card shadow-sm border-light rounded-3">
                  <img [src]="body.body_photo_upload ? (environment.apiUrl + body.body_photo_upload) : 'assets/images/pngwing.com.png'" alt="Body Photo" class="img-fluid rounded-top">
                  <div class="card-body p-3">
                    <h5 class="card-title fs-5 text-dark">{{ body.full_name || 'Unknown' }}</h5>
                    <p class="card-text text-muted mb-1">Gender: <strong>{{ body.gender || 'Not specified' }}</strong></p>
                    <p class="card-text text-muted mb-1">Age: <strong>{{ body.age || 'Not specified' }}</strong></p>
                    <p class="card-text text-muted">Location: <strong>{{ body.location_metadata || 'Not specified' }}</strong></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>




