.professional-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .full-width {
    width: 100%;
  }
  
  .button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  mat-form-field {
    margin-bottom: 20px;
  }
  

  .add-log-btn {
    background: #2196F3;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
  }