.professional-form {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    
    border-radius: 8px;
    border: 1px solid inherit;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .full-width {
    width: 100%;
  }
  
  .button-container {
    margin-top: 15px;
    text-align: center;
  }
  
  mat-form-field {
    margin-bottom: 20px;
  }
  
.form-row {
  display: flex;
  gap: 16px; /* space between fields */
  flex-wrap: wrap;
}

.half-width {
  flex: 1;
  min-width: 200px; /* adjust as needed for responsiveness */
}

h5{
  padding: 04px;
  text-align: center;
  margin-bottom: 15px;
}

  .add-log-btn {
    background: inherit;
    color: inherit;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
  }