/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Inter';
  }


  @import '~leaflet.markercluster/dist/MarkerCluster.css';
  @import '~leaflet.markercluster/dist/MarkerCluster.Default.css';
  