

::ng-deep .mat-autocomplete-panel {
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 4px 0;
  background-color: #fff;
}

.googles{
 border-radius: 1000px !important;
  text-align: center;
}




.img-full-cover {
  height: 100%;
  width: 100%;
  background-image: url('/assets/images/backgrounds/sideimg3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f5f5;
}

.row.w-100.h-100 {
  height: 100vh;
}

.col-lg-7, .col-xl-8 {
  height: 100%;
}

.img-full-cover img {
  display: none; 
}

