
/* If you prefer bold simplicity */
.chhaya-heading {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.5rem; /* 36px */
  color: #2B2E4A;
  text-align: center;
  margin: 0.75rem 0;
}

.chhaya-brand {
  color: #F58200;
  font-weight: 800;
}

::ng-deep .mat-autocomplete-panel {
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 4px 0;
  background-color: #fff;
}

.googles{
 border-radius: 1000px !important;
  text-align: center;
}