[Unit]
Description=chhaya_backend_new
[Service]
User=administrator
Type=simple
WorkingDirectory=/var/lib/jenkins/workspace/chhaya_jenkins/Chhaya_new_backend
ExecStart=/var/lib/jenkins/workspace/chhaya_jenkins/Chhaya_new_backend/venv/bin/python /var/lib/jenkins/workspace/chhaya_jenkins/Chhaya_new_backend/manage.py runserver 209.182.233.165:8090
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
