<h2 mat-dialog-title>Hold Person</h2>
<mat-dialog-content>
  <p>Please provide a reason for putting this person on hold:</p>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Reason</mat-label>
    <textarea matInput [(ngModel)]="status_reason" required></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button mat-dialog-close>Cancel</button>
  <button mat-flat-button color="primary" [mat-dialog-close]="status_reason" [disabled]="!status_reason">Submit</button>
</mat-dialog-actions>