body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}


:host {
  display: block;
  height: 100vh;
  width: 100vw; /* Ensure full viewport width */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent any scrollbars */
}


.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.sidenav {
  width: 260px;
  background: #f8f8f8;
  height: 100vh; /* Changed from 100% */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0; /* Added to prevent shrinking */
  margin: 0; /* Added */
  padding: 0; /* Added */

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
    border-bottom: 1px solid #ddd;
    img {
      max-width: 160px;
      height: auto;
    }
  }

  mat-nav-list {
    flex: 1;
  }

  mat-list-item {
    cursor: pointer;
    // padding: 16px 20px;
    font-size: 16px;
    &.active {
      background-color: #ffffff;
      font-weight: 600;
    }
  }
}

.content-heading{
  border-bottom: 2px solid #3f51b5;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
  padding: 30px;
  margin: 0;

  .tab-content {
    margin-top: 35px;
    flex-grow: 1;

    .heading-lg {
      font-size: 18px;
      color: orange !important;
      margin-bottom: 10px;
    }

    .heading-md {
      font-size: 16px;
      color: orange;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .section-title {
      font-size: 16px;
      font-weight: bold;
      border-bottom: 1px solid #ccc;
      padding-bottom: 5px;
      color: orange;
      margin-top: 30px;
    }

    .paragraph {
      font-size: 16px;
      margin-bottom: 15px;
      color: #444;
    }

    .list {
      padding-left: 20px;

      li {
        font-size: 16px;
        margin-bottom: 8px;
        color: #333;
      }
    }
  }
}




.footer {
  margin-top: auto;
  padding: 20px 0 0 0;

  display: flex;
  justify-content: flex-start; /* Aligns button to the left */
  margin-bottom: 50px;
}

