/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div.leaflet-popup-content{
  width: 400px;
}




.main-heading {
  font-size: 18px;
  font-weight:600;
  color: inherit; 
  text-transform: capitalize;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
  margin-left: 20px;
}


/* Override Toastr warning background to orange */
.toast-success {
  background-color: #f15a22 !important; /* bright orange */
  color: white !important;
}


.bordercolor{
  border: 2px solid;
  border-color: #FFD7BE  !important; 
}


.footer{
  min-height: 82vh !important;
}